---
layout: world/2023/default
permalink: /world/2023/faq
title: Frequently Asked Questions
---

{% assign faqData = site.data.world['2023'].faq %} {% assign categories = faqData | map:
'category' %}

<content-container class="faq">
  <h1>Frequently Asked Questions</h1>
  <br><br>

  <menu class="tabs">
    {% for category in categories %}
      <li>
        <a class="categoryButton" href="#{{ category | downcase }}">{{ category }}</a>
      </li>
    {% endfor %}
  </menu>

  <div class="faq__content">
    {% for faqGroup in faqData %}
      <section id="{{ faqGroup.category | downcase }}">
        <h2>{{ faqGroup.category }}</h2>
        <ul>
          {% for topic in faqGroup.topics %}
            <li>
              <details>
                <summary>
                  <p class="faq__question">{{ topic.question }}</p>
                  {% include world/2023/icons/dropdown.html %}
                </summary>

                <div class="faq__answer">
                  {{ topic.answer | markdownify }}
                </div>
              </details>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </div>
</content-container>


