---
layout: world/2023/default
permalink: /world/2023/speakers
title: Speakers
---

{% assign sorted_speakers = site.world_speakers | where_exp: 'item', 'item.path contains "2023"' | sort: 'last_name' %}
{% assign keynote_speakers = sorted_speakers | where: 'keynote', true %}
{% assign non_keynote_speakers = sorted_speakers | where_exp: "speaker", "speaker.keynote != true" | sort: "first_name" %}

<content-container class="speakers__index">
  <h1>Speakers</h1>
  <p>Our industry's brightest speakers gathered in Amsterdam to share their expertise, insights, and success stories.</p>
  <ul class="speakers__gallery">
    {% for speaker in keynote_speakers %}
      <li>
        <a href="/world/2023/speakers/{{ speaker.path | split: '/' | last | remove_first: '.md' }}">
          {% include world/2023/speaker-card.html %}
        </a>
      </li>
    {% endfor %}
    {% for speaker in non_keynote_speakers %}
      <li>
        <a href="/world/2023/speakers/{{ speaker.path | split: '/' | last | remove_first: '.md' }}">
          {% include world/2023/speaker-card.html %}
        </a>
      </li>
    {% endfor %}
  </ul>
</content-container>
