---
title: Events
description:
permalink: /events
redirect_from:
  - /events/
---

<div class="events heading common-padding--bottom common-padding--top-small">
  <div class="container">
    <div class="heading__body">
      <div class="heading__headline common-headline">
        <h1>Where Rails Comes Together</h1>
        <h2 class="thin">
          Worldwide opportunities to connect, learn, and collaborate.
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="docs casestudy">
  <div class="container">
    <div class="casestudy__floater casestudy__image">
      <img
        src="/assets/images/events-rw-header-wide.jpg"
        alt="The Rails World Stage"
      />
    </div>
  </div>
</div>

<div class="events text common-padding--bottom">
  <div class="container">
    <div class="text__body">
      <div class="text__content common-content">
        <h2>Rails World 2026</h2>
        <p class="date">
          <time datetime="2026-09-23">September 23 & 24, 2026</time> | Austin,
          Texas, USA
        </p>

        <p>
          Rails World is an annual two-day, two track community conference
          featuring technical talks, demos, workshops, networking, and keynotes
          about the latest features and best practices in Rails development.
        </p>

        <p>
          <a href="/world">More Details »</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="events cards common-padding--bottom-small">
  <div class="container">
    <h2>Community Events</h2>
    <div class="cards__container">
      {% assign now = site.time | date: "%Y%m%d" %} {% for event in
      site.data.events.community_events %} {% assign event_end = event.end_date
      | date: "%Y%m%d" %} {% if event_end < now %}{% continue %}{% endif %} {%
      assign start_month = event.start_date | date: "%B" %} {% assign end_month
      = event.end_date | date: "%B" %} {% assign start_day = event.start_date |
      date: "%-d" %} {% assign end_day = event.end_date | date: "%-d" %} {%
      assign year = event.start_date | date: "%Y" %} {% if start_month ==
      end_month %} {% assign presentation_date = start_month | append: " " |
      append: start_day | append: "–" | append: end_day | append: ", " | append:
      year %} {% else %} {% assign presentation_date = start_month | append: " "
      | append: start_day | append: "–" | append: end_month | append: " " |
      append: end_day | append: ", " | append: year %} {% endif %}
      <div class="card">
        <a href="{{ event.url }}" title="{{ event.name }}">
          <div class="card__body">
            <div class="card__label">
              <h6>{{ event.location }}</h6>
            </div>

            <div class="card__headline">
              <h3>{{ event.name }}</h3>
            </div>

            <div class="card__content">
              <p class="date">
                <time datetime="{{ event.start_date }}"
                  >{{ presentation_date }}</time
                >
              </p>
              <p class="link">{{ event.display_url }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <p class="others">
      There are also many Ruby events around the world where you can often find
      Rails talks. Find the most up-to-date list at
      <a href="https://www.rubyevents.org/events">www.rubyevents.org/events</a>.
    </p>
  </div>
</div>
