<ul class="agenda__tabs" role="tablist">
  <li
    class="agenda__tab {% if page.day == 'day-0' %}agenda__tab--selected{% endif %}">
    <a
      href="/world/agenda/day-0"
      role="tab"
      aria-selected="{% if page.day == 'day-0' %}true{% else %}false{% endif %}"
      aria-labelledby="agenda_day_0_date">
      <h2 id="agenda_day_0_date" aria-hidden="true">Wednesday, October 4th</h2>
    </a>
  </li>

  <li
    class="agenda__tab {% if page.day == 'day-1' %}agenda__tab--selected{% endif %}">
    <a
      href="/world/agenda/day-1"
      role="tab"
      aria-selected="{% if page.day == 'day-1' %}true{% else %}false{% endif %}"
      aria-labelledby="agenda_day_1_date">
      <h2 id="agenda_day_1_date" aria-hidden="true">Thursday, October 5th</h2>
    </a>
  </li>

  <li
    class="agenda__tab {% if page.day == 'day-2' %}agenda__tab--selected{% endif %}">
    <a
      href="/world/agenda/day-2"
      role="tab"
      aria-selected="{% if page.day == 'day-2' %}true{% else %}false{% endif %}"
      aria-labelledby="agenda_day_2_date">
      <h2 id="agenda_day_2_date" aria-hidden="true">Friday, October 6th</h2>
    </a>
  </li>
</ul>