<ul class="agenda__tabs">
  <li class="agenda__tab {% if current_tab == 'day-1' %}agenda__tab--selected{% endif %}">
    <a href="/world/agenda/day-1">
      <hgroup>
        <h2>Day 1</h2>
        <p>Wednesday, October 4th</p>
      </hgroup>
    </a>
  </li>

  <li class="agenda__tab {% if current_tab == 'day-1' %}agenda__tab--selected{% endif %}">
    <a href="/world/agenda/day-2">
      <hgroup>
        <h2>Day 2</h2>
        <p>Thursday, October 5th</p>
      </hgroup>
    </a>
  </li>

  <li class="agenda__tab {% if current_tab == 'day-3' %}agenda__tab--selected{% endif %}">
    <a href="/world/agenda/day-3">
    <hgroup>
      <h2>Day 3</h2>
      <p>Friday, October 6th</p>
    </hgroup>
    </a>
  </li>
</ul>
