{% assign sorted_speakers = site.world_speakers | where_exp: 'item', 'item.path contains "2024"' | sort: 'last_name' %}

{% assign specific_order_speakers = sorted_speakers | where_exp: 'item', 'item.specific_order != null' | sort: 'specific_order' %}

{% assign remaining_speakers = sorted_speakers | where_exp: 'item', 'item.specific_order == null' %}

{% assign keynote_speakers = remaining_speakers | where: 'keynote', true %}
{% assign non_keynote_speakers = remaining_speakers | where_exp: "speaker", "speaker.keynote != true" | sort: "first_name" %}
    
    
<section class="content-container speaker-cards">
    <div class="headerContainer">
        <div class="textContainer">
            <h3>Big thank you to our speakers</h3>
            <p>
                The following speakers shared valuable insights at Rails World on the future state of Rails and where
                Rails is headed tomorrow and beyond.
            </p>
        </div>
        <div class="buttonsContainer">
            <button alt="Left Arrow" id="leftBtn" aria-label="scroll carousel backward">
                <img alt="Left Arrow" src="/assets/world/2023/previous.svg">
            </button>
            <button alt="Right Arrow" id="rightBtn" aria-label="scroll carousel forward">
                <img alt="Right Arrow" src="/assets/world/2023/next.svg">
            </button>
        </div>
    </div>
    <div class="cardsContainer">
        {% for speaker in specific_order_speakers %}
        {%
        include world/2024/speaker-card.html
        first_name=speaker.first_name
        last_name=speaker.last_name
        role=speaker.role
        company=speaker.company
        photo=speaker.image_path
        path=speaker.path
        %}
        {% endfor %}
        {% for speaker in keynote_speakers %}
        {%
        include world/2024/speaker-card.html
        first_name=speaker.first_name
        last_name=speaker.last_name
        role=speaker.role
        company=speaker.company
        photo=speaker.image_path
        path=speaker.path
        %}
        {% endfor %}
        {% for speaker in non_keynote_speakers %}
        {%
        include world/2024/speaker-card.html
        first_name=speaker.first_name
        last_name=speaker.last_name
        role=speaker.role
        company=speaker.company
        photo=speaker.image_path
        path=speaker.path
        %}
        {% endfor %}
    </div>
    <a class="button main large viewAllSpeakers" href="/world/2024/speakers" aria-label="View all speakers"
        target="_blank">
        View All Speakers
    </a>
</section>
<script>
    const container = document.querySelector('.cardsContainer');
    const cards = document.querySelectorAll('.speakerCard');
    let currentIndex = null;

    leftBtn.addEventListener('click', () => {
        scrollToIndex("back");
    });
    rightBtn.addEventListener('click', () => {
        scrollToIndex("forward");
    });

    function setCurrentIndex(type) {
        if (type === "forward") {
            if (currentIndex === null || currentIndex === cards.length - 1) {
                currentIndex = 0;
            } else {
                currentIndex++;
            }
        } else if (type === "back") {
            if (currentIndex === null || currentIndex === 0) {
                currentIndex = cards.length - 1;
            } else {
                currentIndex--;
            }
        }
    }

    function addClassToActiveCard(activeIndex) {
        cards.forEach((card, index) => {
            if (index === activeIndex) {
                card.setAttribute('tabindex', '0');
                card.setAttribute('aria-label', 'active speaker');
                card.classList.add('active');
            } else {
                card.setAttribute('tabindex', '-1');
                card.setAttribute('aria-label', 'inactive speaker');
                card.classList.remove('active');
            }
        });
    }

    function scrollToIndex(type) {
        setCurrentIndex(type);

        const currentCard = cards[currentIndex];
        addClassToActiveCard(currentIndex);

        const scrollLeft = currentCard.offsetLeft - container.offsetLeft;

        container.scroll({
            left: scrollLeft,
            behavior: 'smooth'
        });
    }
</script>
