<section class="content-container sponsor-information-text">
    <h3>Sponsors</h3>
    <p>
        Sponsoring Rails World means showcasing your brand
        to a global audience of Rails enthusiasts, developers,
        and industry leaders. Let's make Rails World an
        unforgettable experience for all. 
    </p>
    <a href="https://public.3.basecamp.com/p/xuZrxDiHj7vQbFzATqz8U8gc" aria-label="View prospectus" target="_blank"
        class="button main large">
        VIEW PROSPECTUS
    </a>
    {% if site.data.world['2024'].sponsors %}
    <div class="sponsorCardsContainer">
        <div class="row platinumRow">
            {% for sponsor in site.data.world['2024'].sponsors.platinum %}
            {%
            include world/2024/sponsor-card.html
            rank="platinum"
            name=sponsor.name
            logo=sponsor.logo
            url=sponsor.url
            %}
            {% endfor %}
        </div>
        <div class="row goldRow">
            {% for sponsor in site.data.world['2024'].sponsors.gold %}
            {%
            include world/2024/sponsor-card.html
            rank="gold"
            name=sponsor.name
            logo=sponsor.logo
            url=sponsor.url
            %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</section>