<section class="content-container sponsor-information-text">
    <div class="titleContainer">
        <h3>Thank you, sponsors!</h3>
        <p>
The following sponsors helped us make Rails World an unforgettable experience, and we are truly grateful for their support.
        </p>
    </div>
    {% if site.data.world['2024'].sponsors %}
    <div class="sponsorCardsContainer">
        <div class="row platinumRow">
            {% for sponsor in site.data.world['2024'].sponsors.platinum %}
            {%
            include world/2024/sponsor-card.html
            rank="platinum"
            name=sponsor.name
            logo=sponsor.logo
            url=sponsor.url
            %}
            {% endfor %}
        </div>
        <div class="row goldRow">
            {% for sponsor in site.data.world['2024'].sponsors.gold %}
            {%
            include world/2024/sponsor-card.html
            rank="gold"
            name=sponsor.name
            logo=sponsor.logo
            url=sponsor.url
            %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</section>