button {
  cursor: pointer;

  &[disabled], &:disabled {
    opacity: 0.5;
    cursor: auto;
  }
}

.button {
  display: inline-block;
  font-size: var(--type-small);
  font-variation-settings: var(--font-weight-600);
  color: var(--white);
  border: 0.7px solid var(--white);
  padding: var(--space-small) var(--space-large);
  cursor: pointer;

  &--light {
    background-color: var(--purple-medium);
  }

  &--red {
    background-color: var(--red);
  }
}

.tito-widget-button {
  display: inline-block;
  font-family: inherit;
  font-size: var(--type-small);
  font-variation-settings: var(--font-weight-600);
  color: var(--white);
  border: 0.7px solid var(--white);
  padding: var(--space-small) var(--space-large);
  cursor: pointer;
  background-color: var(--purple-dark);
}
