.button-primary {
  display: inline-block;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  padding: 20px 40px;
  border-radius: 10px;
  position: relative;
  transition: all 0.5s ease-in-out;
  z-index: 1;

  span {
    font-size: $xx-large;
    font-variation-settings: $font-weight-700;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: $button-gradient;
    position: relative;
    z-index: 2;

    @include media(MobileScreens) {
      font-size: $medium;
    }
  }

  // For the gradient border on hover
  &:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px; // border thickness

    // transparent background
    background: $fushia-to-red-gradient;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  // For the white background
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: white;
    z-index: 1;
    transition: background 0.5s ease-in-out;
  }

  &:hover {
    &:before { opacity: 1; }
    &:after { background: none; }

    span {
      color: white;
      background: none;
      background-clip: initial;
      -webkit-background-clip: initial;
      -webkit-text-fill-color: initial;
    }
  }

  @include media(MobileScreens) {
    padding: 15px 20px;
  }
}
