.hexagon-frame {
  position: relative;
  width: 220px;
  height: 240px;

  @include media(MobileScreens) {
    width: 180px;
    height: 200px;
  }

  @include media(MobileScreens) {
    width: 200px;
    height: 220px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
}
