.logos-grid {
  display: grid;
  row-gap: 30px;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  padding: 20px;
  margin: 25px 0;

  @include media(MobileScreens) {
    margin: 10px 0;
  }

  img {
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &.platinum {
    display: flex;
    justify-content: center;

    @include media(MobileAndTabletScreens) {
      flex-direction: column;
      gap: 0;
    }

    img {
      width: 400px;

      @include media(MobileScreens) {
        height: 100px;
        width: 200px;
      }
    }
  }

  &.gold {
    display: flex;
    justify-content: center;

    @include media(MobileScreens) {
      grid-template-columns: repeat(2, 1fr);
    }

    img {
      width: 300px;

      @include media(MobileScreens) {
        width: 120px;
      }

      @include media(TabletScreens) {
        width: 200px;
      }
    }

  }

  &.silver {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include media(MobileScreens) {
      gap: 20px;
    }

    img {
      width: 150px;

      @include media(MobileAndTabletScreens) {
        width: 100px;
      }
    }
  }

  &.members {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    @include media(MobileScreens) {
      gap: 20px;
    }

    img {
      width: 150px;

      @include media(MobileAndTabletScreens) {
        width: 100px;
      }
    }
  }
}
