.logos-grid {
  width: 80%;
  display: grid;
  row-gap: 30px;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  padding: 20px;

  img {
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &.platinum {
    display: flex;
    justify-content: center;

    img {
      width: 300px;

      @include media(MobileScreens) {
        height: 100px;
        width: 200px;
      }
    }

    @include media(MobileScreens) {
      flex-direction: column;
      gap: 0;
    }
  }

  &.gold {
    width: 90%;
    grid-template-columns: repeat(4, 1fr);

    @include media(MobileScreens) {
      grid-template-columns: repeat(2, 1fr);
    }

    img {
      width: 220px;

      @include media(MobileScreens) {
        width: 120px;
      }
    }

  }

  &.silver {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 90%;

    img {
      width: 150px;

      @include media(MobileScreens) {
        width: 100px;
      }
    }
  }
}
