body {
  background: var(--red);
  color: var(--text-color);
  box-sizing: border-box;
  font-style: italic;
  font-weight: 700;

  a {
    text-decoration: none;
  }

  content-container {
    display: block;
    margin: 0 var(--space-xx-large);
    border-left: var(--border-white);
    border-right: var(--border-white);

    section {
      background-color: var(--red);
      padding-bottom: var(--space-xx-large)
    }
  }

  container-large {
    display: block;
    padding: var(--space-large) var(--space-medium) 0;
    max-width: 55em;
    margin: auto;
    background-color: var(--red);
  }

  flex-container {
    display: flex;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 100;
  }
}
