body {
  background: var(--red);
  color: var(--text-color);
  box-sizing: border-box;
  font-style: italic;
  font-weight: 700;

  a {
    text-decoration: none;
  }

  content-container {
    display: block;
    margin: 0 var(--space-xx-large);
    border-left: var(--border-white);
    border-right: var(--border-white);

    section {
      padding-bottom: var(--space-xx-large);
      padding-left: var(--space-medium);
      padding-right: var(--space-medium);
      max-width: 55em;
      margin: auto;
    }
  }

  flex-container {
    display: flex;
  }

  bordered-container {
    display: block;
    border-left: var(--border-red);
    border-right: var(--border-red);
    margin-left: var(--space-small);
    margin-right: var(--space-small);
    padding: var(--space-small) 0;
  }

  h1 {
    font-size: var(--type-xxx-large);
    font-weight: 800;
    padding-bottom: var(--space-medium);
  }

  h2 {
    font-size: var(--type-xx-large);
    font-weight: 800;
    padding-bottom: var(--space-small);
  }

  h3 {
    font-size: var(--type-x-large);
    font-weight: 800;
    padding-bottom: var(--space-x-small);
  }

  h4 {
    font-size: var(--type-large);
    font-weight: 800;
    padding-bottom: var(--space-x-small);
  }

  h5 {
    font-size: var(--type-medium);
    padding-bottom: var(--space-x-small);
  }

  h6 {
    font-size: var(--type-small);
    padding-bottom: var(--space-x-small);
  }

  header {
    position: sticky;
    top: 0;
    z-index: 100;
  }
}
