html {
  font-family: "acumin-variable",sans-serif;
  font-variation-settings: var(--font-weight-700);
}

body {
  background: var(--red);
  color: var(--text-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

flex-spacer {
  flex-grow: 1;
}

main, main:focus {
  flex-grow: 1;
  border-left: var(--border-white);
  border-right: var(--border-white);
  margin-left: var(--space-xx-large);
  margin-right: var(--space-xx-large);

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 1200px) {
    border: none;
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: var(--white);
}

/* Hide arrow glyph in Safari */
summary::-webkit-details-marker {
  display: none;
}

:focus {
  outline-color: var(--purple-medium);
  outline-offset: 2px;
}

.skip-navigation {
  position: absolute;
  top: 1rem;
  left: -999em;
  z-index: 11;

  &:focus {
    left: 1rem;
  }
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;
}