:root {
  --red: #BF281C;
  --purple-pale: #F3EDFF;
  --purple-medium: #A386FF;
  --purple-dark: #3B1D62;
  --orange:  #D96242;
  --orange-red: #F9553A;
  --pink-pale: #F8DBDB;;
  --white: #FFFFFF;

  --text-color: var(--white);
}
