---
layout: world/2024/default
permalink: /world/2024/faq
redirect_from: 
    - /world/faq
    - /world/2024/faq/
title: Frequently Asked Questions
---

{%
assign faqData = site.data.world['2024'].faq %} {% assign categories = faqData | map:
'category'
%}

<div class="faqContainer">
    <section>
        <div class="titleContainer">
            <h2 class="faqTitle">Frequently Asked Questions</h1>
        </div>

        <div class="sectionNav">
            {% for category in categories %}
            {% assign categoryId = category | split: " " | first | downcase %}
            <a href="#{{ categoryId }}" class="link categoryButton">{{ category }}</a>
            {% endfor %}
        </div>
    </section>

    <section class="questionsContainer">
        {% for faqGroup in faqData %}
        {% assign categoryId = faqGroup.category | split: " " | first | downcase %}
        <section tabindex="-1" id="{{ categoryId }}" class="categoryContainer">
            <h2>{{ faqGroup.category }}</h2>
            <ul>
                {% for topic in faqGroup.topics %}
                <li>
                    <details>
                        <summary class="faqQuestion">
                            <img src="/assets/world/2024/images/arrow.svg" class="faqArrow" alt="Arrow">
                            <p class="summaryQuestion">
                                {{ topic.question }}
                            </p>
                        </summary>

                        <div class="faqAnswer">
                            {{ topic.answer | markdownify }}
                        </div>
                    </details>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endfor %}
    </section>
</div>

<!-- Script to focus category after clicking -->
<script>
    const allATags = document.getElementsByClassName('categoryButton');

    for (let i = 0; i < allATags.length; i++) {
        allATags[i].addEventListener('click', function (event) {
            const targetId = allATags[i].getAttribute('href');
            const targetElement = document.querySelector(targetId);

            // Set focus for accessibility users
            targetElement.focus();
        });
    }
</script>