---
layout: world/2024/default
permalink: /world/2024
redirect_from: /world/2024/
---

<div class="landing-page">
    <section class="content-container top-information-card">
        {% include world/2024/icons/rails_logo.html %}
    </section>
    <div class="half-container common-shape--top-purple-down-left">
        <section class="content-container top-information-card">
            <h3 class="joinText">
                Shaping the future of Ruby on Rails
            </h3>

            {% include world/2024/tito-widget.html %}
        </section>
    </div>

    <section class="content-container top-information-text">
        <p>
            Rails World was a two-day, two track community conference where more than 1,000 Rails developers from 57 countries gathered to hear technical
            talks, demos, networking, and keynotes about the latest features and best
            practices in Rails development.
        </p>
    </section>

    {% include world/2024/sections/speakers.html %}

    <section class="content-container video-card">
        <div class="textContainer">
            <h3>Thank you, Toronto!</h3>
            <p>
                We gathered for two days in one of the coolest venues in Toronto - Evergreen Brick Works -
                located on the historic site of the former brick works and quarry and
                surrounded by a beautiful nature park.
            </p>
        </div>

        {% include world/2024/slideshow.html %}
    </section>

    {% include world/2024/sections/sponsors.html %}
</div>
