---
layout: world/2024/default
permalink: /world/2024/speakers
redirect_from: 
    - /world/speakers
    - /world/2024/speakers/
title: Speakers
---

{% assign sorted_speakers = site.world_speakers | where_exp: 'item', 'item.path contains "2024"' | sort: 'last_name' %}

{% assign specific_order_speakers = sorted_speakers | where_exp: 'item', 'item.specific_order != null' | sort: 'specific_order' %}

{% assign remaining_speakers = sorted_speakers | where_exp: 'item', 'item.specific_order == null' %}

{% assign keynote_speakers = remaining_speakers | where: 'keynote', true %}
{% assign non_keynote_speakers = remaining_speakers | where_exp: "speaker", "speaker.keynote != true" | sort: "first_name" %}
    

<div class="speakersPageContainer">
<div class="speakerSwooshContainer">
        <div class="swooshContainer common-shape--top-blue-down-left">
        </div>
    </div>
    <div class="pageTitleContainer">
        <h2>Speakers</h2>
        <p>Our community's brightest speakers gathered in Toronto to share their expertise, insights, and success
            stories.</p>
    </div>
    <div class="bottomContainer">
        <div class="speakersContainer">
            {% for speaker in specific_order_speakers %}
            {%
            include world/2024/speaker-card.html
            first_name=speaker.first_name
            last_name=speaker.last_name
            role=speaker.role
            company=speaker.company
            photo=speaker.image_path
            path=speaker.path
            %}
            {% endfor %}
            {% for speaker in keynote_speakers %}
            {%
            include world/2024/speaker-card.html
            first_name=speaker.first_name
            last_name=speaker.last_name
            role=speaker.role
            company=speaker.company
            photo=speaker.image_path
            path=speaker.path
            %}
            {% endfor %}
            {% for speaker in non_keynote_speakers %}
            {%
            include world/2024/speaker-card.html
            first_name=speaker.first_name
            last_name=speaker.last_name
            role=speaker.role
            company=speaker.company
            photo=speaker.image_path
            path=speaker.path
            %}
            {% endfor %}
        </div>
    </div>
</div>
