---
layout: world/default
permalink: /world
title: Rails World 2023
---

{% assign sorted_speakers = site.world_speakers | sort: 'last_name' %}
{% assign keynote_speakers = sorted_speakers | where: 'keynote', true %}
{% assign non_keynote_speakers = sorted_speakers | where: 'keynote', false %}

<content-container class="large">
<!-- hero -->
  <section class="hero">
    <div class="hero__content" style="--bubble-content: '20 years of Ruby on Rails'">
      <h1>Join our first Ruby on Rails Conference!</h1>
      <p>October 5 & 6</p>
      <p class="hero__location">{% include world/icons/pin.html %} <a href="https://goo.gl/maps/HFbht8c3Yo8ZEpi77" target="_blank" class="hero__link">Amsterdam, Beurs van Berlage</a></p>
      <tito-button event="rails-world/rails-world-2023"></tito-button>
    </div>
  </section>

<!-- about -->
  <section class="about">
    <p>Rails World is a two-day, two track conference featuring technical talks, demos, workshops, networking, and keynotes. You’ll hear from the creators and maintainers of Rails on the latest features and best practices in Rails development.</p>
  </section>

    <!-- speakers -->
    <section class="speakers">
          <h2>Our Speakers</h2>
          <!-- speaker carousel -->
          <sl-carousel class="aspect-ratio scroll-hint" navigation pagination mouse-dragging>
            {% for speaker in keynote_speakers %}
              <sl-carousel-item>{% include world/speaker-card.html %}</sl-carousel-item>
            {% endfor %}
            {% for speaker in non_keynote_speakers %}
              <sl-carousel-item>{% include world/speaker-card.html %}</sl-carousel-item>
            {% endfor %}
            <sl-carousel-item class="carousel__card--narrow" style="background: var(--red);"><a href="/world/speakers">See More Speakers</a></sl-carousel-item>
          </sl-carousel>
          <a href="/world/speakers" class="button button--light">See Full Line-Up</a>
    </section>

    <!-- callout -->
    <section class="callout">
      <div class="callout__banner">
      <bordered-container>
          <flex-container>
              <img src="#" alt="Rails 20th Anniversary">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatibus deserunt illum numquam pariatur vel dolore distinctio, suscipit earum enim tenetur eveniet impedit eius perferendis est dicta officia sapiente quae.</p>
          </flex-container>
      </bordered-container>
      </div>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore doloremque doloribus culpa iste reiciendis incidunt excepturi officia, a debitis cupiditate itaque earum placeat harum voluptatem esse modi nesciunt ab! Ducimus?</p>
      <a href="#" class="button button--light">Prospectus PDF</a>
    </section>

    <!-- sponsors -->
    {% if site.data.world.sponsors %}
      {% include world/sponsors.html %}
    {% endif %}
</content-container>
