:root {
  --red: #BF281C;
  --purple-pale: #F3EDFF;
  --purple-medium: #A386FF;
  --purple-dark: #3B1D62;
  --purple-dark-translucent: #3B1D6288;
  --orange:  #D96242;
  --orange-red: #F9553A;
  --orange-brown: rgba(249, 85, 58, 0.58);
  --pink-pale: #F8DBDB;;
  --white: #FFFFFF;

  --text-color: var(--white);
}
