:root {
  --red: #bf281c;
  --purple-pale: #f3edff;
  --purple-medium: #a386ff;
  --purple-dark: #3b1d62;
  --purple-dark-translucent: #3b1d6288;
  --orange: #d96242;
  --orange-red: #f9553a;
  --orange-brown: rgba(249, 85, 58, 0.58);
  --pink-pale: #f8dbdb;
  --white: #ffffff;

  --text-color: var(--white);
}
