pre {
padding-bottom: 0;
}

code span.comment {
color: #BD48B3;
border: 0;
margin: 0; padding: 0;
}

code span.string {
color: #6b0;
}

code span.symbol {
color: #399;
}

code span.keywords {
color: #FF8400;
}

code span.erb {
background: #333;
}

code span.symbol {
color: #078FDC;
}