<header>
  <nav class="nav">
    <a href="/world/2023" class="nav__logo">
      <img src="/assets/world/2023/rails-world-logo.png" alt="Rails World Logo">
    </a>
    <flex-spacer></flex-spacer>
    <ul>
      <li><a href="/world/2023/speakers" class="nav__link">Speakers</a></li>
      <li><a href="/world/2023/agenda" class="nav__link">Agenda</a></li>
      <li><a href="/world/2023/faq" class="nav__link">FAQs</a></li>
      <li>
        <a
          class="button prime"
          href="https://www.youtube.com/playlist?list=PLHFP2OPUpCeY9IX3Ht727dwu5ZJ2BBbZP"
          target="_blank">
          View all videos
        </a>
      </li>
    </ul>
  </nav>
</header>
