<header>
  <nav class="nav">
    <a href="/world" class="nav__logo">
      <img src="/assets/world/rails-world-logo.png" alt="Rails World Logo">
    </a>
    <flex-spacer></flex-spacer>
    <ul>
      {% if false %}
        <li><a href="/world/speakers" class="nav__link">Speakers</a></li>
        <li><a href="#" class="nav__link">Agenda</a></li>
      {% endif %}

      <li><a href="/world/faq" class="nav__link">FAQs</a></li>
      <li><tito-button event="rails-world/rails-world-2023"></tito-button></li>
    </ul>
  </nav>
</header>
