<section class="sponsors">
  <div class="sponsors__logos">
    {% for sponsor in site.data.world.sponsors.primary %}
      <img src="{{ sponsor.logo}}" alt="{{ sponsor.name }}'s Logo">
    {% endfor %}
  </div>
  <div class="sponsors__logos sponsors__logos--small">
    {% for sponsor in site.data.world.sponsors.secondary %}
      <img src="{{ sponsor.logo}}" alt="{{ sponsor.name }}'s Logo">
    {% endfor %}
  </div>
  <h2>Thank You Sponsors!</h2>
  <br>
  <p>Rails World wouldn't be possible without the generous support of Rails World sponsors and Rails Foundation members. Visit them in the Sponsor Lounge and throughout the event.</p>
</section>
