@font-face {
  font-family: 'clash-grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/clash-grotesk-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'clash-grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/clash-grotesk-500.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'clash-grotesk';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/clash-grotesk-600.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'clash-grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/clash-grotesk-700.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Borgstrand Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/BorgstrandPro-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/calibre-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/calibre-regular-italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/calibre-semibold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/calibre-bold.woff2') format('woff2');
  font-display: swap;
}
