body {
  font-family: "Clash Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  color: white;
}

.page-wrapper-2026 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("/assets/world/2026/images/bg.png");
  background-image: image-set(
    url("/assets/world/2026/images/bg.webp") type("image/webp"),
    url("/assets/world/2026/images/bg.png")  type("image/png")
  );
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #000000;
}

#section-desktop {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 100px;

  #footer-2026 {
    margin-top: auto;
  }
}

.container-center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
