html {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: var(--font-weight-700);
}

body {
  background-color: var(--purple);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

:focus {
  outline-color: var(--red);
  outline-offset: 2px;
}

#main-content {
  display: flex;
  justify-content: center;
  width: 100%;
}