html {
  scroll-padding-top: 85px;
}

// Fonts are only able to be updated here for some reason.
h1,
h2,
h3,
h4,
h5 {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: var(--font-weight-700);
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  letter-spacing: 1px;

  @media screen and (max-width: 800px){
    letter-spacing: 0.5px;
  }
}

body {
  background-color: var(--purple);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

:focus {
  outline-color: var(--red);
  outline-offset: 2px;
}

#main-content {
  display: flex;
  position: relative;
  height: 100%;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  flex: 1;
}
