html {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: var(--font-weight-700);
}

body {
  background-color: #cb0c1c;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}

#main-content {
  display: flex;
  justify-content: center;
}

#logo {
  width: 50rem;
  max-width: 90vw;
  height: auto;
  margin-top: -10rem;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
}

.text-container {
  color: white;
  text-align: center;
  margin-top: 1rem;
}

.link-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2.5rem;
  max-width: 90vw;
}

.buttons {
  background-color: white;
  color: #cb0c1c;
  border-radius: 6pt;
  padding: 1rem;
  text-decoration: none;
  max-width: 30rem;
  position: relative;
}

.buttons:hover {
  background-color: #e3dadc;
  top: -1px;
}

.small-text {
  font-size: 1rem;
}

footer {
  color: white;
  position: fixed;
  bottom: 0;
}

footer a:visited {
  color: white;
  text-decoration: none;
}