:root {
    --red: #cb0c1c;
    --dark-red: #CF1618;
    --blue: #8BADDA;
    --dark-blue: #7B9FD2;
    --purple-pale: #F3EDFF;
    --purple: #4E2A73;
    --purple-dark: #432463;
    --purple-gradient: linear-gradient(141deg, var(--purple) 40%, rgba(58, 31, 85, 1) 100%);
    --white: #ffffff;
    --black: #000000;

    --text-color: var(--white);
    --border-style: 2px solid var(--white);
}
