:root {
  --red: #cb0c1c;
  --dark-red: #cf1618;
  --blue: #8badda;
  --dark-blue: #7b9fd2;
  --purple-pale: #f3edff;
  --purple: #4e2a73;
  --purple-dark: #432463;
  --purple-gradient: linear-gradient(
    141deg,
    var(--purple) 40%,
    rgba(58, 31, 85, 1) 100%
  );
  --white: #ffffff;
  --black: #000000;

  --text-color: var(--white);
  --border-style: 2px solid var(--white);
}
