.company-profile {
  box-sizing: border-box;
  padding: auto 1em 2em 1em;
  max-width: 100%;

  p {
    // font-size: 20px;
    // line-height: 1.2em;
  }

  .container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 1em;
  }

  .common-padding--bottom-small {
    padding-bottom: 20px;
  }

  header.company-header {
    margin-bottom: 0;
    padding-bottom: 0;

    p {
      font-size: 24px;
      font-weight: 200;
      letter-spacing: 0.2em;
      margin-bottom: 0.25em;
      padding-bottom: 0;
      text-transform: uppercase;
    }

    h1 {
      height: auto;
      line-height: 1;
      text-align: left;
    }
  }

  h3 {
    margin-bottom: 0;
  }

  aside {
    background: $color-white;
    border-radius: 12px;
    box-shadow: 0 15px 40px 5px rgba($color-black, 0.15), 0 1px 1px rgba($color-black, 0.04);
    font-size: 18px;
    margin-bottom: 100px;
    padding: 1em;

    p.website {
      background-color: #F8F9FA;
      background-image: url("/assets/images/chicklet_website.svg");
      background-repeat: no-repeat;
      background-position: 5px 5px;
      border-radius: 8px;
      box-sizing: border-box;
      flex-basis: 49%;
      font-size: 20px;
      line-height: 1.75em;
      margin: 1em 0 0.25em 0;
      padding: 0.4em 0.4em 0.4em 55px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      
      a {
        text-decoration: none;
      }
    }

    .people-counts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      margin-top: 20px;

      p {
        font-size: 18px;
        margin-bottom: 0;
        padding-bottom: 0;
        text-align: center;

        b {
          display: block;
          font-size: 30px;
          line-height: 1em;
        }
      }
    }

    dl {
      display: grid;
      grid-template-columns: 70px 1fr;
      grid-column-gap: 10px;
      font-size: 18px;
      padding-bottom: 0;

      dt {
        font-weight: normal;
        font-size: 18px;
      }

      dd {
        color: #000;
        font-weight: bold;

        span {
          font-weight: normal;
        }

        &:has(p) {
          font-weight: normal;
        }

        p {
          font-size: 18px;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  blockquote {
    border: none;

    p {
      font-style: italic;
      text-align: center;
      text-wrap: balance;
  
      &::before {
        content: "“";
      }
  
      &::after {
        content: "”";
      }  
    }

    cite {
      display: block;
      font-style: normal;
      font-weight: bold;
      margin-top: 0.75em;
      text-align: center;

      &::before {
        content: "—";
      }

      span.title {
        font-weight: normal;
      }
    }
  }

  .member-status {
    p {
      font-size: 24px;
      line-height: 1.1em;
      text-align: center;
      text-wrap: balance;
    }
  }

  .contributions {
    background: $color-white;
    border-radius: 12px;
    box-shadow: 0 15px 40px 5px rgba($color-black, 0.15), 0 1px 1px rgba($color-black, 0.04);
    font-size: 18px;
    margin-bottom: 2em;
    padding: 1em;

    h2 {
      line-height: 1;
      margin: 0 0 10px 0;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style-type: none;
      padding: 0;
      margin: 0;
      
      li {
        background-color: #F8F9FA;
        background-image: url("/assets/images/chicklet_github.svg");
        background-repeat: no-repeat;
        background-position: 5px 5px;
        border-radius: 8px;
        box-sizing: border-box;
        flex-basis: 100%;
        margin: 0.25em 0;
        padding: 0.4em 0.4em 0.4em 55px;

        p {
          font-size: 18px;
          font-weight: bold;
          line-height: 1em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          a {
            font-size: 14px;
            font-weight: normal;
            text-decoration: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    p.contrib-string {
      font-size: 18px;
    }
  }

  .community-involvement {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }

  @media (min-width: 1024px) {
    padding: 0; 

    aside {
      margin-top: 100px;
      margin-bottom: auto;
    }

    p {
      // font-size: 26px;
    }

    .member-status {
      p {
        font-size: 26px;
      }
    }

    blockquote {
      p {
        // font-size: 26px;
      }
    }

    .common-padding--bottom-small {
      padding-bottom: 30px;
    }
    .container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 50px;
      max-width: 1000px;
      margin: auto;
    }

    .contributions {
      padding: 1em;
      margin-bottom: 60px;
      h2 {
        // font-size: 36px;
      }
      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
        li {
          flex-basis: 49%;
        }
      }
    }

  }
}