.language {

  display: inline-block;
  height: 41px;
  margin-top: 30px;
  position: relative;
  width: 180px;

  &__checkbox,
  &__toggle {
    height: 41px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  &__checkbox {

    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    border: none;
    background: none;

    &:checked {

      & ~ .language__options {

        transform: translate(0, 10px);

        ul {
          box-shadow: 0 15px 70px 5px rgba($color-black, 0.15), 0 1px 1px rgba($color-black, 0.04);
          height: 256px;
        }

      }

      & ~ .language__toggle {
        background: $color-white;
      }

    }

  }

  &__toggle {

    background: $color-grey-1;
    border-radius: 6px;
    color: $color-black;
    cursor: pointer;
    text-align: center;
    transition: background $transition, color $transition;

    span {
      display: block;
      font-size: 18px;
      line-height: 24px;
      padding: 8px 15px 9px 15px;
    }

    &:after {
      background: url(../images/icon-language.svg) center center no-repeat;
      bottom: 15px;
      content: '';
      filter: $filter-black;
      height: 11px;
      position: absolute;
      right: 14px;
      width: 7px;
    }

    &:hover {
      background: $color-grey-2;
    }

  }

  &__options {

    position: relative;
    transition: transform $transition;
    z-index: 1;

    ul {

      background: $color-white;
      border-radius: 6px;
      height: 0;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      transition: box-shadow $transition, height $transition;
      width: 100%;

      li {

        a {

          display: block;

          span {
            background: none;
            border-radius: 4px;
            color: $color-grey-4;
            display: block;
            font-size: 18px;
            line-height: 24px;
            margin-left: 15px;
            margin-right: 15px;
            padding: 5px 15px 6px 15px;
            transition: background $transition, color $transition;
          }

          &:hover span {
            background: $color-grey-1;
            color: $color-black;
          }

        }

        &:first-child {
          padding-top: 31px;
        }

        &:last-child {
          padding-bottom: 15px;
        }

      }

    }

  }

}
