.post {

  font-size: 0;
  line-height: 0;

  .container {
    max-width: 840px;
  }

  &__headline {

    margin: -7px 30px -6px 30px;
    text-align: center;

    h5 {
      margin-bottom: 16px;
    }

    h6 {
      font-weight: 400;
      margin-top: 17px;
    }

  }

  &__content {

    border-top: 3px solid rgba($color-black, 0.1);
    margin: 60px 30px -33px 30px;
    padding-top: 33px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

      a {
        font-weight: inherit;
      }

    }

  }

  &__pagination {

    border-top: 3px solid rgba($color-black, 0.1);
    margin: 40px 30px -5px 30px;
    padding-top: 33px;
    text-align: center;

    dl {

      dt {
        color: $color-black;
        font-size: 21px;
        font-weight: 600;
        line-height: 26px;
        padding-bottom: 17px;
      }

      dd {

        color: $color-red;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: -0.01em;
        line-height: 34px;

        a {

          color: $color-red;
          text-decoration: underline;

          &:hover {
            color: $color-black;
          }

        }

      }

    }

  }



  @media(min-width: 1024px) {

    &__headline,
    &__content,
    &__pagination {
      margin-left: 60px;
      margin-right: 60px;
    }

    &__headline {

      margin-bottom: -7px;

      h5 {
        margin-bottom: 13px;
      }

      h6 {
        margin-top: 16px;
        padding-bottom: 1px;
      }

    }

    &__content {
      margin-top: 60px;
      padding-top: 53px;
    }

    &__pagination {

      margin-top: 60px;
      padding-top: 53px;

      dl dd {
        font-size: 42px;
        line-height: 38px;
      }

    }

  }



}
