.text {

  font-size: 0;
  line-height: 0;
  position: relative;

  .container {
    max-width: 840px;
  }

  &__body {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    z-index: 1;
  }

  &__content {
    margin-bottom: -33px;
    margin-top: -7px;
  }

  &__button {
    margin-top: 50px;
  }



  &--align-center {

    text-align: center;

    .text__content {

      ul {
        display: inline-block;
        list-style-position: inside;
      }

    }

  }

  &--frame-grey,
  &--frame-white {

    .text__body {
      border-radius: 8px;
      padding: 30px;
      margin-left: 30px;
      margin-right: 30px;
      z-index: 1;
    }

  }

  &--frame-grey {

    .text__body {
      background: $color-grey-2;
    }

  }

  &--frame-white {

    .text__body {
      background: $color-white;
      box-shadow: 0 15px 70px 5px rgba($color-black, 0.15), 0 1px 1px rgba($color-black, 0.04);
    }

  }



  @media(min-width: 1024px) {

    &__body {
      margin-left: 60px;
      margin-right: 60px;
    }

    &--frame-grey,
    &--frame-white {

      .container {
        max-width: 960px;
      }

      .text__body {
        padding: 60px;
        margin-left: 60px;
        margin-right: 60px;
      }

    }

  }



}
