.trusted {

  font-size: 0;
  line-height: 0;
  position: relative;

  .container {
    max-width: 1080px;
  }

  &__blocks {
    margin: -5px 30px;
    position: relative;
    text-align: center;
    width: calc(100% - 60px);
    z-index: 1;
  }

  &__block {

    display: inline-block;
    margin: 5px;
    position: relative;
    width: calc(50% - 10px);

    a {

      background: $color-grey-1;
      border-radius: 8px;
      box-shadow: 0 0 0 3px rgba($color-red, 0);
      display: block;
      padding: 10px;
      position: relative;
      text-align: center;
      transition: background $transition, box-shadow $transition, transform $transition;

      img {
        filter: $filter-black;
        width: auto;
      }

      &:hover {
        background: $color-white;
        box-shadow: 0 0 0 3px $color-red;
        transform: translateY(-3px);
      }

    }

  }



  @media(min-width: 667px) {

    &__block {
      width: calc(33.33% - 10px);
    }

  }



  @media(min-width: 1024px) {

    &__blocks {
      margin: -10px 60px;
      width: calc(100% - 120px);
    }

    &__block {
      margin: 10px;
      width: calc(25% - 20px);
    }

  }



}
