.video {

  font-size: 0;
  line-height: 0;
  position: relative;

  .container {
    max-width: 1280px;
  }

  &__embed {

    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    z-index: 1;

    video {
      background: $color-white;
      border-radius: 8px;
      box-shadow: 0 15px 70px 5px rgba($color-black, 0.15), 0 1px 1px rgba($color-black, 0.04);
      display: block;
      height: auto;
      max-width: 100%;
      overflow: hidden;
    }

  }



  @media(min-width: 1024px) {

    &__embed {
      margin-left: 60px;
      margin-right: 60px;
    }

  }



}
