.about {
  padding: var(--space-small);
  font-style: italic;
  line-height: 90%;
  border-top: var(--border);
  border-bottom: var(--border);
  text-align: center;

  p {
    max-width: 29em;
    margin: auto;
  }
}
