.agenda {
  h1 {
    padding-bottom: var(--space-small);
  }

  &__tabs {
    display: flex;
    align-items: center;
    gap: var(--space-large);
    padding-top: var(--space-large);
  }

  &__tab {
    text-align: center;
    flex-basis: 11em;
    border-bottom: 2px solid transparent;

    &:hover {
      background-color: var(--purple-dark);
      border-bottom: 2px solid var(--white);
    }

    a {
      padding-top: var(--space-small);
      padding-bottom: var(--space-small);
    }

    a:hover {
        text-decoration: none;
        transform: none;
      }

    @media only screen and (max-width: 300px) {
      padding: 0;
    }

    hgroup {
      display: flex;
      justify-content: center;
      gap: var(--space-x-small);
      flex-direction: column;

      h2:last-child {
        @media only screen and (max-width: 780px) {
          display: none;
        }
      }
    }

    h2 {
      line-height: 150%;
      font-size: var(--type-small);
      font-variation-settings: var(--font-weight-700);
    }

    p {
      font-size: var(--type-small);
      font-variation-settings: var(--font-weight-400);
      padding-bottom: unset;
    }

    &--selected {
      background-color: var(--purple-dark);
      border-bottom: 2px solid var(--white);

      a:hover {
        transform: none;
        cursor: default;
      }
    }
  }

  small {
    padding-bottom: var(--space-medium);
    font-size: var(--type-xx-small);
    font-variation-settings: var(--font-weight-400);
  }

  &__items {
    background-color: var(--white);
    color: var(--purple-dark);
    margin-top: var(--space-medium);

    a {
      color: var(--purple-dark);
      overflow-wrap: anywhere;

      &:hover {
        text-decoration-color: var(--purple-dark);
        transform: none;
      }
    }

    li {
      border-bottom: var(--border-red);
      padding-top: var(--space-medium);
      padding-bottom: var(--space-medium);
      margin-left: var(--space-medium);
      margin-right: var(--space-medium);
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      grid-gap: 1em;

      .session__time {
        font-size: var(--type-medium);
        text-align: center;
        padding-bottom: 0;
        font-variation-settings: var(--font-weight-800);
      }

      h3, .session__time {
        font-size: var(--type-medium);
        line-height: 1.6;
      }

      p {
        padding-bottom: 0;
        font-size: var(--type-x-small);
      }
    }

    > li:last-of-type {
      border-bottom: none;
    }
  }
}
