.button {
  font-size: var(--type-small);
  border: 0.7px solid var(--white);
  padding: var(--space-small) var(--space-large);
  cursor: pointer;
  font-style: italic;
  color: var(--white);
  display: inline-block;

  &--light {
    background-color: var(--purple-medium);
  }

  &--dark {
    background-color: var(--purple-dark);
  }

  &--small {
    padding: var(--space-x-small) var(--space-medium);
  }
}
