.button {
  font-size: var(--type-small);
  font-style: italic;
  border: 0.7px solid var(--white);
  padding: var(--space-small) var(--space-large);
  cursor: pointer;

  &--light {
    background-color: var(--purple-medium);
  }

  &--dark {
    background-color: var(--purple-dark);
  }

  &--small {
    padding: var(--space-x-small) var(--space-medium);
  }

  a {
    color: var(--btn-text-color);
  }
}
