.button {
  display: inline-block;
  font-size: var(--type-small);
  font-variation-settings: 'wght' 600, 'wdth' 100, 'slnt' -12;
  color: var(--white);
  border: 0.7px solid var(--white);
  padding: var(--space-small) var(--space-large);
  cursor: pointer;

  &--light {
    background-color: var(--purple-medium);
  }

  &--dark {
    background-color: var(--purple-dark);
  }

  &--small {
    padding: var(--space-x-small) var(--space-medium);
  }
}
