.callout {
  &__banner {
    background-color: var(--pink-pale);
    margin-bottom: var(--space-medium);

    flex-container {
      padding: var(--space-medium) var(--space-small) var(--space-large);
      gap: var(--space-small);
      border-top: 1px solid var(--red);
      margin-left: var(--space-large);
    }

    bordered-container {
      border-left: none;
      margin-left: 0;
      margin-right: var(--space-large);
      padding-top: var(--space-large);
    }

    p {
      color: var(--red);
      line-height: 1.5em;
    }
  }

  p {
    padding-bottom: var(--space-medium);
  }
}
