.callout {
  max-width: 50em;
  margin: auto;

  &__banner {
    background-color: var(--pink-pale);
    margin-bottom: var(--space-medium);

    flex-container {
      padding: var(--space-medium) var(--space-small);
      gap: var(--space-small);
      border-top: var(--border-red);
      border-bottom: var(--border-red);
    }

    bordered-container {
      --border-margin: var(--space-medium);
      --border-padding: var(--space-medium);
    }

    p {
      color: var(--red);
      line-height: 1.5em;
    }
  }

  p {
    padding-bottom: var(--space-medium);
  }
}
