.nav {
  display: flex;
  background-color: var(--red);
  align-items: center;
  justify-content: center;
  padding: var(--space-medium) var(--space-xx-large);
  border-top: var(--border-white);
  border-bottom: var(--border-white);

  @media only screen and (max-width: 1100px) {
    flex-direction: column;
    gap: var(--space-small);
  }

  &__logo img {
    max-width: 25em;
    width: 80vw;
    margin: auto;
  }

  &__logo:hover, &__link:hover {
    transform: none !important;
  }

  ul {
    display: flex;
    align-items: center;
    gap: var(--space-medium);
  }

  &__link {
    font-size: var(--type-medium);
  }

  button.tito {
    padding: var(--space-x-small) var(--space-medium);

    @media only screen and (max-width: 1100px) {
      display: none;
    }
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.announcements {
  text-align: center;
  font-size: var(--type-x-small);
  padding: var(--space-small);
}
