.nav {
  display: flex;
  background-color: var(--red);
  align-items: center;
  justify-content: space-between;
  padding: var(--space-small) var(--space-xx-large);
  border-top: var(--border-white);
  border-bottom: var(--border-white);

  @media only screen and (max-width: 1200px) {
    padding: var(--space-small) var(--space-small);
  }

  @media only screen and (max-width: 920px) {
    display: inherit;
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    padding: var(--space-x-small);
  }

  &__logo img {
    max-width: 25em;
    width: 80vw;
    margin: auto;
  }

  ul {
    display: flex;
    align-items: center;
    gap: var(--space-large);

    @media only screen and (max-width: 1200px) {
      gap: var(--space-medium);
    }
    @media only screen and (max-width: 920px) {
      gap: var(--space-medium);
      justify-content: center;
    }
  }

  &__link {
    font-size: var(--type-medium);

    @media only screen and (max-width: 600px) {
      font-size: var(--type-small);
    }
  }

  .tito-widget-button {
    padding: var(--space-x-small) var(--space-medium);
  }
}
