.speaker {
  h1, h2, h3 {
    color: var(--red)
  }

  h3 {
    font-size: var(--type-medium);
  }

  p {
    font-size: var(--type-x-small);
  }

  p ~ p {
    margin-top: var(--space-small);
  }

  &__info {
    padding-bottom: var(--space-large);

    figure {
      text-align: center;
      margin: var(--space-large) auto;
    }

    h1 {
      padding-bottom: var(--space-x-small);
    }

    ul {
      display: flex;
      gap: var(--space-small);
      font-size: var(--type-large);

      svg {
        fill: var(--purple-dark);
      }
    }

    img {
      --size: 14em;
      display: inline-block;
      max-width: 100%;
      width: var(--size);
      height: var(--size);
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0px 0px 44.1028px 17.2277px var(--orange-brown);
    }
  }

  p.speaker__role {
    font-size: var(--type-medium);
    padding-bottom: var(--space-medium);
  }

  &__sessions {
    padding-bottom: 0;

    h2 {
      text-align: center;

      @media only screen and (max-width: 1000px) {
        text-align: left;
      }
    }

    h3 {
      padding-bottom: var(--space-small);
      line-height: 150%;
    }

    a:hover {
      text-decoration-color: var(--red);
      transform: none;
    }

    p {
      padding-bottom: unset;
      display: flex;
      align-items: center;
      gap: var(--space-small);
    }

    svg {
      display: inline-block;
    }
  }

  content-card {
    background-color: var(--white);
    display: block;
    color: var(--purple-dark);

    bordered-container {
      --border-color: var(--border-red);
      --border-margin: var(--space-large);
      --border-padding: var(--space-large);

      /* Extra small devices (phones, 600px and down) */
      @media only screen and (max-width: 600px) {
        --border-margin: var(--space-small);
        --border-padding: var(--space-small);
      }

      article {
        border-top: var(--border-red);
        border-bottom: var(--border-red);
        padding: var(--space-medium);
        display: grid;
        grid-template-rows: auto auto;

        section {
          gap: var(--space-medium);
          align-items: center;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

.speaker__info,
.speaker__sessions {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: var(--space-large);

  @media only screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
  }
}
