.speakers {
  &__index {
    h1 {
      padding-bottom: var(--space-small);
    }
  }

  &__gallery {
    padding-top: var(--space-medium);
    display: flex;
    gap: var(--space-medium);
    flex-wrap: wrap;
    justify-content: space-evenly;

    a {
      display: inline;

      &:hover {
        text-decoration-color: var(--red);

        img {
          box-shadow: 0px 0px 35.2822px 13.8px var(--orange-brown);
        }
      }
    }

    h3 {
      font-size: var(--type-large);
    }

    speaker-card {
      width: 11.5em;

      img {
        --size: 7em;
      }

      p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: var(--type-xxx-small);
      }
    }
  }
}
