speaker-card {
  display: block;
  background-color: var(--pink-pale);
  height: 100%;
  width: 13em;

  bordered-container {
    --border-margin: var(--space-medium);
    --border-padding: var(--space-medium);
    height: 100%;
    display: flex;
    box-sizing: border-box;
  }

  img {
    --size: 8em;
    border-radius: 50%;
    margin: var(--space-small);
    object-fit: cover;
    height: var(--size);
    width: var(--size);
    align-self: center;
  }

  h3 {
    font-size: var(--type-large);
    padding-top: var(--space-small);
    padding-bottom: var(--space-small);
    color: var(--red);
    text-align: center;
    line-height: 120%;
  }

  p {
    color: var(--purple-dark);
    font-size: var(--type-xx-small);
  }

  .speaker-card__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: var(--border-red);
    border-bottom: var(--border-red);
    padding: var(--space-small);
    width: 100%;
    padding-bottom: var(--space-medium);
  }
}
