.sponsors {
  &__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 40em;

    &--small {
      flex-wrap: wrap;

      > * {
        max-width: 100px;
      }
    }
  }
}
