.sponsors {
  max-width: 50em;
  margin: auto;

  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: var(--space-large);
    gap: var(--space-large);

    > * {
      width: 8em;
      height: 8em;
      object-fit: cover;
      border-radius: 50%;
    }

    &--small {
      padding-bottom: var(--space-x-large);

      > * {
        width: 6em;
        height: 6em;
      }
    }
  }
}
