.announcement-banner {
  &.purple-background {  background-color: $dark-purple; }
  &.red-background { background-color: $red; }

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;

  .content {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: $medium;
      text-align: center;
      color: white;
      font-variation-settings: $font-weight-900;
    }
  }
}
