.footer {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  margin-top: 100px;

  .footer-content {
    width: 100%;
    padding: 40px 0;
    border-top: 2px solid white;
  }

  p, a {
    text-align: center;
    color: white;
    font-size: $medium;
    line-height: 22px;
    font-variation-settings: $font-weight-200;
  }
}
