.homepage .intro-container {
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(MobileAndTabletScreens) {
    flex-direction: column-reverse;
  }

  @include media(MobileScreens) {
    justify-content: center;
    padding: 0;
  }

  @include media(TabletScreens) {
    padding: 0;
  }

  .illustration-container {
    @include media(MobileAndTabletScreens) {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .illustration {
    height: 100%;

    @include media(MobileScreens) {
      height: 45vh;
    }

    @include media(TabletScreens) {
      height: 50vh;
    }
  }

  .content {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: left;

    @include media(MobileScreens) {
      width: 90%;
      margin-top: 50px;
    }

    @include media(TabletScreens) {
      width: 75%;
      align-self: flex-start;
      padding-left: 80px;
      margin-top: 50px;
    }
  }
}

.homepage .sponsor-intro-container {
  background-image: url("/assets/world/2025/images/shape.png");
  background-repeat: no-repeat;
  background-size: 550px;

  @include media(MobileScreens) {
    background-image: none;
    margin-bottom: 80px;
  }

  @include media(TabletScreens) {
    margin-bottom: 50px;
  }

  h2 {
    text-align: left;
    padding: 100px 0 0 80px;

    @include media(MobileScreens) {
      display: flex;
      align-items: center;
      background-image: url("/assets/world/2025/images/shape.png");
      height: 300px;
      background-size: contain;
      background-repeat: no-repeat;
      padding: 20px 25px;
    }
  }

  .button-secondary { margin-top: 4rem }

  .content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 50px 100px;

    @include media(MobileScreens) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 25px;
    }

    @include media(TabletScreens) {
      display: block;
      padding: 50px 80px;
    }
  }
}

.homepage .social-cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 150px 0 80px 0;

  @include media(MobileScreens) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 80px;
  }

  @include media(TabletScreens) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 0;
    row-gap: 50px;
  }
}

.homepage .speakers-container {
  margin-top: 120px;

  h2 {
    font-size: 60px;
  }
}
