.carousel-container {
  position: relative;
  overflow: hidden;
  height: 80vh;
  display: flex;
  align-items: center;
  margin-left: 25px;

  @include media(MobileAndTabletScreens) {
    height: 50vh;
  }
}

.scroll-carousel {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.scroll-carousel::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.scroll-carousel img {
  height: 50vh;
  flex-shrink: 0;
  object-fit: cover;
  pointer-events: none;
  user-select: none;

  @include media(MobileAndTabletScreens) {
    height: 25vh;
  }
}
