.landing-page {
  box-sizing: border-box;
  text-align: center;
}

#logo-world-2025 {
  margin: auto;

  @media only screen and (max-width: 600px) {
    width: 350px
  }
}

.landing-page .line {
  border: 1px solid white;
  width: 25%;
  margin: 30px auto;
}

.landing-page .cta-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media only screen and (max-width: 600px) {
    gap: 10px;
  }

  .icon {
    width: 20px;

    @media only screen and (max-width: 600px) {
      width: 15px
    }
  }
}
