.session-card {
  display: flex;
  align-items: center;
  gap: 70px;
  cursor: pointer;
  position: relative;
  width: 100%;
  padding: 20px 25px;
  background-image: $session-card-gradient;
  transition: background 0.6s ease-in;

  &.no-pointer {
    cursor: default;
  }

  @include media(MobileAndTabletScreens) {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    width: fit-content;
  }

  @include media(MobileScreens) {
    gap: 20px;
  }

  @include media(TabletScreens) {
    gap: 30px;
  }

  .time {
    width: 160px;
    padding-right: 50px;
    border-right: 1px solid white;
    font-variation-settings: $font-weight-800-basic;
    font-size: 22px;

    @include media(MobileScreens) {
      font-size: 16px;;
    }

    @include media(TabletScreens) {
      font-size: 20px;
    }

    @include media(MobileAndTabletScreens)  {
      width: fit-content;
      border-right: none;
      padding-right: 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include media(MobileAndTabletScreens) {
      gap: 10px;
    }
  }

  h3 {
    font-size: $x-large;
    font-variation-settings: $font-weight-700;
    line-height: 45px;
    margin-bottom: 0;

    @include media(MobileScreens) {
      font-size: 18px;
      line-height: 25px;
    }

    @include media(TabletScreens) {
      font-size: 22px;
      line-height: 35px;
    }
  }

  p {
    font-size: $large;
    line-height: 30px;

    @include media(MobileScreens) {
      font-size: $small;
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: $session-card-gradient-hover;
    opacity: 0;
    transition: opacity 0.6s ease-in;
    pointer-events: none;
    z-index: 1;
  }

  > * {
    position: relative;
    z-index: 2;
  }

  &:hover::after {
    opacity: 1;
  }
}
