.session-page {
  margin-top: 60px;
  display: flex;
  gap: 20px;
  padding: 0 10%;
  justify-content: space-between;
  align-items: flex-start;

  &.multiple-speakers {
    flex-direction: column;

    .session-content {
      width: 100%;
    }

    .session-speakers {
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      gap: 25px;

      @include media(MobileScreens) {
        display: block;
      }

      @include media(TabletScreens) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }
    }
  }

  @include media(MobileAndTabletScreens) {
    display: block;
    padding: 0 5%;
  }
}

.session-page .session-content {
  width: 65%;

  @include media(MobileAndTabletScreens) {
    width: 100%;
  }

  h1 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 50px;

    @include media(MobileScreens) {
      font-size: 30px;
    }
  }

  h3 {
    font-size: $large;
    margin-bottom: 50px;
  }

  p, a {
    color: white;
    font-size: $medium;
    line-height: 25px;
  }
}

.session-page .speaker-card {
  @include media(MobileScreens) {
    margin: 50px auto;
  }

  @include media(TabletScreens) {
    margin-top: 100px;
  }
}

.session-page .session-details {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;

  p {
    color: white;
    font-size: $x-large;
    line-height: 30px;
    font-variation-settings: $font-weight-700;
  }
}
