.session-card {
  cursor: pointer;
  position: relative;
  width: 100%;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: $session-card-gradient;
  transition: background 0.6s ease-in;

  @include media(MobileScreens) {
    gap: 10px;
    padding: 25px;
    width: fit-content;
  }

  h3 {
    font-size: $x-large;
    font-variation-settings: $font-weight-700;
    line-height: 45px;

    @include media(MobileScreens) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  p {
    font-size: $large;

    @include media(MobileScreens) {
      font-size: $small;
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: $session-card-gradient-hover;
    opacity: 0;
    transition: opacity 0.6s ease-in;
    pointer-events: none;
    z-index: 1;
  }

  > * {
    position: relative;
    z-index: 2;
  }

  &:hover::after {
    opacity: 1;
  }
}
