.speaker-index-page {

  h1 {
    font-size: $xxx-large;

    @include media(MobileScreens) {
      font-size: $xx-large;
    }
  }

  .description-center {
    p {
      font-size: $large;
      line-height: 35px;

      @include media(MobileScreens) {
        font-size: $medium;
      }
    }
  }

  .section {
    margin-top: 50px;
  }

  .speaker-cards-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 75px;

    @include media(MobileScreens) {
      grid-template-columns: repeat(1, 1fr);
    }

    @include media(TabletScreens) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
