--- 
--- 

@charset 'utf-8';

@import 'base/reset';
@import 'base/variables';
@import 'common/shape';

@import 'world/2024/base/variables';
@import 'world/2024/base/body';
@import 'world/2024/base/metrics';
@import 'world/2023/base/typography';
@import 'world/2024/base/colors';

@import 'world/2024/common/button';
@import 'world/2024/common/shape';

@import 'world/2024/modules/landing_page';
@import 'world/2024/modules/faq';
@import 'world/2024/modules/header';
@import 'world/2024/modules/footer';
@import 'world/2024/modules/legal';
@import 'world/2024/modules/announcements';
@import 'world/2024/modules/speaker_card';
@import 'world/2024/modules/sponsor_card';
@import 'world/2024/modules/sponsors';
@import 'world/2024/modules/speakers';
@import 'world/2024/modules/tito_widget';
@import 'world/2024/modules/speaker_page';
@import 'world/2024/modules/speakers_page';
@import 'world/2024/modules/session';
@import 'world/2024/modules/agenda';
