body {
  font-family: "acumin-variable", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background: $purple-pink-gradient;
  background-size: 200% 200%;
  animation: gradient-dissolve 5s ease infinite;
}
