body {
  font-family: "acumin-variable", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  color: white;

  &.purple-gradient-background {
    background: $purple-gradient;
    background-size: 200% 200%;
    animation: gradient-dissolve 5s ease infinite;
  }
  &.red-gradient-background {
    background: $red-gradient;
    background-size: 200% 200%;
    animation: gradient-dissolve 5s ease infinite;
  }
}

.section {
  &.full-height {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
  justify-content: center;
  }

  &.mobile-fit-content {
    @include media(MobileAndTabletScreens) {
      height: fit-content;
    }
  }

  @include media(MobileScreens) { margin: 10px 0; }

  h2, h3 {
    margin-bottom: 35px;
  }

  &.title-center {
    h1, h2, h3 { text-align: center; }
  }

}

.container-center {
  text-align: center;
  padding: 0 10%;

  @include media(MobileAndTabletScreens) {
    padding: 0 5%;
  }
}

.sessions-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  @include media(MobileAndTabletScreens) {
    margin-top: 50px;
  }
}
