body {
  font-family: "acumin-variable", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  color: white;

  &.purple-gradient-background {
    background: $purple-gradient;
    background-size: 200% 200%;
    animation: gradient-dissolve 5s ease infinite;
  }
  &.red-gradient-background {
    background: $red-gradient;
    background-size: 200% 200%;
    animation: gradient-dissolve 5s ease infinite;
  }
}

.section {
  &.full-height {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.half-height-mobile {
    @include media(MobileAndTabletScreens) {
      height: 50vh;
    }
  }

  @include media(MobileScreens) { margin: 10px 0; }

  h2, h3 {
    margin-bottom: 35px;
  }

  &.title-center {
    h1, h2, h3 { text-align: center; }
  }

  &.description-center {
    p {
      text-align: center;
      width: 60%;
      margin: 25px auto 0 auto;
    }
  }
}
