$font-weight-900: 'wght' 900, 'wdth' 100, 'slnt' -12;

$xxx-large: 52px;
$xx-large: 29px;
$x-large: 24px;
$large: 20px;
$medium: 16px;
$small: 12px;

h1 {
  color: white;
  font-size: $xxx-large;
  font-variation-settings: $font-weight-900;
  letter-spacing: 1px;
  line-height: 65px;

  @media only screen and (max-width: 600px) {
    line-height: 40px;
    font-size: $xx-large;
  }
}

h2 {
  color: white;
  font-size: $xx-large;
  font-variation-settings: $font-weight-900;
  letter-spacing: 1px;

  @media only screen and (max-width: 600px) {
    font-size: $medium;
  }
}

p {
  color: white;
  font-size: $large;
  font-variation-settings: $font-weight-900;
  letter-spacing: 1px;

  @media only screen and (max-width: 600px) {
    font-size: 18px;
  }
}

.uppercase { text-transform: uppercase; }
