.hero {
  text-align: center;
  padding-top: var(--space-xx-large);
  padding-bottom: var(--space-medium);
  background-color: transparent;

  &__content {
    position: relative;
    max-width: 32em;
    margin: auto;

    &:before {
      width: 90%;
      padding-top: 100%;
      border-radius: 50%;
      background-color: var(--red);
      box-shadow: 0px 0px 64px 25px var(--orange-red);
      position: absolute;
      transform: translateX(-50%);
      z-index: -1;
      content: '';
    }

    h1 {
      position: relative;
      margin-bottom: var(--space-small);
    }
  }

  &__location {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      --width: 1em;
      width: var(--width);
      height: var(--width);
    }

    a {
      margin-left: var(--space-small);
    }
  }
}
