.speakers {
  &__index {
    h1 {
      padding-bottom: var(--space-small);
    }
  }

  &__gallery {
    padding-top: var(--space-medium);
    display: flex;
    gap: var(--space-small);
    flex-wrap: wrap;
    justify-content: center;

    a {
      display: inline;

      &:hover {
        text-decoration: none;

        img {
          box-shadow: 0px 0px 35.2822px 13.8px var(--orange-brown);
        }
      }
    }

    speaker-card {
      width: 12em;

      img {
        --size: 7em;
      }

      p {
        font-size: var(--type-xxx-small);
      }

      &:hover {
        h3 {
          text-decoration: underline;
          text-decoration-color: var(--red);
        }
      }
    }
  }
}
