<ul class="agenda__items">
  {% for session in sessions %}
    {% assign base_id = session.path | split: '/' | last | remove_first: '.md' %}
    {% assign time_id = base_id | append: '_time' %}
    {% assign details_id = base_id | append: '_details' %}
    <li>
      <p
        id="{{ time_id }}"
        class="session__time">{{ session.time }}</p>
      <div>
        <h3 aria-describedby="{{ time_id }} {{ details_id }}">
          <a
            href="{{ session.url }}"
            data-turbo-frame="session_details"
            data-turbo-action="advance"
            data-turbo-preserve-focus>
            {{ session.title }}
          </a>
        </h3>
        {% assign filteredSpeakers = site.world_speakers | where_exp:"speaker", "speaker.path contains session.speaker" | where_exp: 'item', 'item.path contains "2023"' |  %}
        {% assign speaker = filteredSpeakers | first %}
        {% if speaker %}<p id="{{ details_id }}">{{ speaker.first_name }} {{ speaker.last_name }}, {{ speaker.role }}{% if speaker.company %}, {{ speaker.company }}{% endif %}</p>{% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
