---
title: "On Rails: The Official Ruby on Rails Podcast"
description: "Episodes of On Rails, the official podcast from The Rails Foundation, with deep-dive conversations about running Rails in production."
category: podcast
permalink: /category/podcast
redirect_from:
  - /category/podcast/
feed_url: /feed/podcast.xml
---

<div class="heading common-padding--bottom-small common-padding--top-small">
  <div class="container">
    <div class="heading__body">
      <div class="post__headline common-headline">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="blog common-padding--bottom">
  <div class="container">
    <div class="blog__posts">

{% for post in site.categories[page.category] %}

    {% include post.html %}

{% endfor %}

    </div>
  </div>
</div>
