.dayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding: 20px 0px;
  gap: 20px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 85%;
  max-width: 1300px;
  text-align: center;
  color: var(--white);
  padding-top: 0;
  padding-bottom: 0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 1300px;
  align-items: center;
  justify-content: center;

}

@media screen and (max-width: 900px) {
  .mainContainer {
    width: 95%;
  }
}

.dayTabs {
  width: 100%;
  display: flex;
}

.tabContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  width: 50%;
  color: var(--white);
  cursor: pointer;
  border: 2px solid var(--white);
}

.dayText {
  font-weight: 600;
  letter-spacing: 1px;
}

.dateText {
  font-size: 1.3rem;
  margin-top: -3px;
}

.tabContainer {
  &.zero {
    border-radius: 10px 0 0 0;
    border-right: 0;
    border-bottom: 0;
  }

  &.one {
    border-bottom: 0;
  }

  &.two {
    border-radius: 0 10px 0 0;
    border-left: 0;
    border-bottom: 0;
  }

  &.active {
    background-color: white;
    color: black;
  }

  &.inactive:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgb(48, 48, 48);
  }
}

.agendaContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 0 0 10px 10px;
  width: 100%;
}

.sessionRow {
  display: flex;
  border-bottom: 2px solid var(--purple);
  min-height: 100px;
  cursor: pointer;

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    gap: 25px;

    .timeText {
      font-weight: 600;
      color: var(--purple);
      font-size: var(--type-small);
    }

    .separator {
      height: 70%;
      width: 1px;
      background-color: var(--purple);
    }
  }

  .right {
    flex: 1;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;

    .title {
      font-weight: 600;

      color: var(--purple);
    }

    .speakersContainer {
      display: flex;

      .speakerNames {
        font-size: var(--type-small);

        .name {
          font-weight: 500;
        }
      }
    }
  }

  &:last-child {
    border-bottom: none;
    border-radius: 0 0 10px 10px;
  }

  &:hover {
    background-color: rgb(242, 242, 242);
  }

  @media screen and (max-width: 650px) {
    padding: 5px 0;
  }
}

