.announcements {
    background-color: var(--red);
    // background-color: green;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-bottom: var(--border-style);

    .textContainer {
        // background-color: cyan;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
            color: var(--white);
            font-size: var(--type-x-small);

            @media screen and (max-width: 500px){
                font-size: var(--type-xxx-small);
            }
        }
    }

    a {
        font-style: normal;
        color: var(--white);
    }
}