// Get rid of Safari default arrow
details summary::-webkit-details-marker {
    display: none;
}

.faqContainer {
    width: 100%;
    overflow-x: hidden;

    .titleContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: var(--desktop-padding);

        h2 {
            color: var(--text-color);

            // Actual phone size
            @media screen and (max-width: 500px){
                font-size: var(--type-x-large);
            }
        }
    }

    .questionsContainer {
        display: flex;
        flex-direction: column;
        gap: var(--space-medium);
        padding: var(--desktop-padding);

        .categoryContainer {
            display: flex;
            gap: 5px;
            flex-direction: column;
        }

        h2 {
            color: var(--white);
        }

        ul {
            list-style-type: none;

            li~li {
                margin-top: var(--space-small);
            }

            details {
                transition: all 0.15s ease-in;

                summary {
                    cursor: pointer;
                    border: var(--border-style);
                    border-radius: 5px;
                    color: var(--white);
                    padding: var(--space-small);
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: row;
                    gap: 10px;

                    .faqArrow {
                        width: 23px;
                        min-width: 23px;
                        max-width: 23px;
                        filter: invert(1);
                        transform: rotate(90deg);
                        transition: transform 0.2s linear;

                        @media screen and (max-width: 800px) {
                            width: 20px;
                            min-width: 20px;
                            max-width: 20px;
                        }
                    }

                    .summaryQuestion {
                        font-size: var(--type-medium);
                        line-height: 1.15;
                        font-weight: 500;
                    }
                }

                .faqAnswer {
                    display: flex;
                    flex-direction: column;
                    color: var(--black);
                    background-color: var(--white);
                    border-radius: 0 0 5px 5px;
                    font-size: var(--type-small);
                    padding: var(--space-small) var(--space-medium);
                    gap: 5px;

                    //Desktop size
                    a {
                        font-style: normal;
                        color: var(--purple);
                    }

                    @media screen and (min-width: 800px) {
                        font-size: var(--type-x-small);
                    }
                }

                &[open] {
                    summary {
                        border-radius: 5px 5px 0 0;

                        .faqArrow {
                            transform: rotate(-90deg);
                        }
                    }
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 3%);
                    transform: translateY(-1px);
                    box-shadow: 0px 4px 7px 0 rgba(0, 0, 0, 0.3);
                }
            }
        }

        @media only screen and (max-width: 800px) {
            padding: var(--mobile-padding);
        }
    
        // Actual phone
        @media only screen and (max-width: 500px) {
            padding: var(--smaller-mobile-padding);
        }
    
        // Larger Desktop 
        @media only screen and (min-width: 1550px) {
            padding: var(--larger-desktop-padding);
        }
    }
}

.sectionNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--border-style);
    border-left: 0;
    border-right: 0;
    padding: var(--desktop-padding);
    padding-top: var(--space-small);
    padding-bottom: var(--space-small);
    z-index: 100;
    position: relative;

    @media only screen and (max-width: 800px) {
        padding: var(--mobile-padding);
        padding-top: var(--space-x-small);
        padding-bottom: var(--space-x-small);
    }

    // Actual phone
    @media only screen and (max-width: 500px) {
        padding: var(--smaller-mobile-padding);
        padding-top: var(--space-x-small);
        padding-bottom: var(--space-x-small);
    }

    // Larger Desktop 
    @media only screen and (min-width: 1550px) {
        padding: var(--larger-desktop-padding);
        padding-top: var(--space-x-small);
        padding-bottom: var(--space-x-small);
    }

    // Actual phone size
    @media only screen and (max-width: 500px) {
        display: flex;
        justify-content: start;
        overflow-x: scroll;
        padding: var(--smaller-mobile-padding);
        padding-left: 2px;

        .categoryButton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            min-width: 100px;
            white-space: nowrap;   
            margin-right: 50px;         
        }

        .categoryButton:first-child {
            margin-right: 20px;
        }
    }
}