footer {
    overflow-x: hidden;
    display: flex;
    height: 85px;
    width: 100%;

    .desktopFooter {
        display: flex;
    }

    // Larger for desktop
    @media screen and (min-width: 800px) {
        .desktopFooter {
            height: 95px;
        }
    }
}

footer {
    background-color: var(--purple);
    align-items: center;
    justify-content: space-between;
    border-top: var(--border-style);
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.3);
    padding-left: var(--space-small);
    box-shadow: 0px -5px 10px 0 rgba(0, 0, 0, 0.2);

    .footerContainer {
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
    }

    .footerLegalContainer {
        height: 100%;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        a {
            text-align: center;
        }
    }

    .sideContainer {
        width: 220px;
        height: 100%;
        border-right: var(--border-style);

        .linksContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            .socialLinks {
                display: flex;
                gap: 15px;

                a {
                    svg {
                        width: 25px;
                        fill: var(--white);
                        transition: all 0.2s ease;
                    }

                    &:hover {
                        svg {
                            fill: var(--red);
                            transform: translateY(-1px);
                        }
                    }
                }
            }
        }

        &.right {
            border-left: var(--border-style);
            border-right: 0;
        }

        @media screen and (max-width: 800px) {
            .linksContainer {
                .socialLinks {
                    gap: 5px;
                }
            }
        }
    }


    .center {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        width: 60%;
        gap: 5px;

        .textContainer {
            display: flex;
            width: 95%;
            align-items: center;
            justify-content: center;

            a {
                margin-right: 2px;
            }

            p {
                color: var(--text-color);
                text-align: center;
                font-size: var(--type-xx-small);
                font-weight: var(--font-weight-400);

                @media only screen and (max-width: 800px) {
                    font-size: var(--type-xxx-small);
                }
            }
        }

        .footerLegalContainer {
            width: 80%;
            justify-content: center;
            gap: 15px;
            height: 20px;
            margin-bottom: 4px;

            a {
                font-size: var(--type-xxx-small);
            }

            @media only screen and (max-width: 800px) {
                width: 80%;
                justify-content: center;
                gap: 15px;

                a {
                    font-size: 0.9rem;
                }
            }

            @media only screen and (max-width: 500px) {
                a {
                    white-space: nowrap;
                    font-size: 0.7rem;
                }
            }
        }

        // Actual phone size
        @media only screen and (max-width: 500px) {
            .textContainer {
                .my-button {
                    white-space: nowrap;
                }
            }

            .footerLegalContainer {
                a {
                    font-size: 0.7rem;
                }
            }
        }
    }

    @media only screen and (max-width: 800px) {
        padding-left: 0;

        .sideContainer {
            width: 18%;
        }

        .center {
            width: 60%;
        }
    }
}