$headerHeight: 80px;

header {
    position: sticky !important;
    top: 0;
    z-index: 900 !important;
    width: 100%;

    #desktopHeader {
        display: flex;
    }

    #mobileHeader {
        display: none;
    }

    @media only screen and (max-width: 800px) {
        #desktopHeader {
            display: none;
        }

        #mobileHeader {
            display: flex;
        }
    }
}

.nav {
    background-color: var(--purple);
    align-items: center;
    justify-content: space-between;
    height: $headerHeight;
    border-bottom: var(--border-style);
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.3);

    .sideContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 220px;
        height: 100%;
        border-right: var(--border-style);

        &.right {
            gap: 5px;
            border-left: var(--border-style);
            border-right: 0;

            a {
                font-size: var(--type-small);

                @media screen and (max-width: 700px) {
                    font-size: var(--type-x-small);
                }
            }
        }

        .headerDateText {
            text-align: center;
            font-size: 1.7rem;
            line-height: 20px;
        }

        @media screen and (max-width: 450px) {
            a {
                font-size: 1.3rem;
            }
        }

        @media screen and (max-width: 350px) {
            a {
                font-size: 1rem;
            }
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;

        .temp {
            width: 140px;
        }

        .longLogo {
            width: 95%;
        }
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 30px;

        h4,
        h5 {
            color: var(--white);
        }
    }

    a,
    p {
        color: var(--white);
    }
}

#mobileHeader {
    .sideContainer {
        width: 120px;
    }

    .center {
        width: 400px;
    }
}