.speakerCard {
    position: relative;
    background-color: var(--white);
    width: 225px;
    min-width: 225px;
    height: 315px;
    min-height: 315px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    z-index: 100;
    overflow-y: visible;

    &.active {
        box-shadow: 0px 0px 5px 1px var(--purple);
    }

    .cardBackground {
        z-index: 1;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .line {
            content: "";
            position: absolute;
            width: 2px;
            height: 100%;
            background-color: var(--blue);
        }
    }

    .contentContainer {
        border: 2px solid var(--blue);
        border-left: 0;
        border-right: 0;
        z-index: 50;
        background-color: var(--white);
        width: 80%;
        height: 80%;
        color: var(--black);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;


        $padding: 25px;

        .photoContainer {
            padding-top: $padding;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .speakerPhoto {
                $size: 140px;

                border-radius: 50%;
                width: $size;
                height: $size;
                background-color: var(--purple);

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    object-fit: cover;

                }
            }
        }

        .nameContainer {
            margin-bottom: $padding;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 5px;

            .name {
                font-size: 1.95rem;
                color: var(--red);
            }

            .role {
                text-transform: uppercase;
                font-weight: 600;
                word-spacing: 1px;
                line-height: 0.9;
                font-size: 1.25rem;
            }
        }
    }

    // Desktop size
    @media screen and (min-width: 800px) {
        width: 255px;
        min-width: 255px;
        height: 365px;
        min-height: 365px;

        .contentContainer {
            .photoContainer {
                .speakerPhoto {
                    $size: 175px;
                    width: $size;
                    height: $size;
                }
            }
        }
    }
}