.speakersPageContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--blue);
    width: 100%;
    flex: 1;
    color: var(--white);
    position: relative;
    align-items: center;
    justify-content: center;


    .speakerSwooshContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .swooshContainer {
            position: relative;
            width: 100%;
            background-color: var(--dark-blue);
            height: 50%;
        }
    }

    .pageTitleContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: var(--desktop-padding);
        text-align: center;

        h2 {
            @media screen and (max-width: 500px){
                font-size: var(--type-x-large);
            }
        }

        @media only screen and (max-width: 800px) {
            padding: var(--mobile-padding);
        }

        // Actual phone
        @media only screen and (max-width: 500px) {
            padding: var(--smaller-mobile-padding);
        }

        // Larger Desktop 
        @media only screen and (min-width: 1550px) {
            padding: var(--larger-desktop-padding);
        }

        padding-top: 20px !important;
        padding-bottom: 0 !important;
    }

    .bottomContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        padding-top: 0;
        padding-bottom: 25px;

        .speakersContainer {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: center;
        }
    }
}