$mobileWidth: 570px;

.titto-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    max-width: 920px;

    .ticketTitle {
        padding-bottom: var(--header-and-paragraph-padding);
    }

    .iframeContainer {
        width: 100%;
        min-height: 0px;
        border-radius: 10px;
        height: 10px;

        .soldOutContainer {
            padding: 25px;

            p {
                color: black;
                font-size: var(--type-medium);

                @media screen and (max-width: 650px) {
                    font-size: var(--type-large);
                }
            }
        }
    }
}

.tito-widget {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 10px;

    .tito-widget-form {
        padding-left: var(--space-medium);
        padding-right: var(--space-medium);
        border-radius: 10px;

        .tito-release {
            .tito-quantity {
                display: flex;
                gap: 3px;
                align-items: center;
                justify-content: center;

                .tito-release--increment-quantity,
                .tito-release--decrement-quantity {
                    a {
                        opacity: 0.8;
                        color: var(--red);
                        transition: all 0.15s ease;

                        &.--disabled {
                            color: var(--red);
                        }

                        svg {
                            pointer-events: none;
                        }

                        &:hover {
                            opacity: 1;
                            color: var(--red);
                        }
                    }
                }
            }

            .tito-release-description {
                justify-content: flex-start;
                padding-top: 30px;
                padding-bottom: 30px;

                .tito-release--title {
                    text-align: start;
                    font-size: var(--type-medium);
                    font-family: "acumin-variable", sans-serif;
                    font-variation-settings: var(--font-weight-600);

                    @media screen and (max-width: $mobileWidth) {
                        font-variation-settings: var(--font-weight-700);
                        text-align: center;
                    }
                }

                @media screen and (max-width: $mobileWidth) {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }

        .tito-times {
            font-size: var(--type-small);
        }

        .tito-price-details-regular {
            .tito-price {
                font-size: var(--type-medium);
                font-family: "acumin-variable", sans-serif;
                font-variation-settings: var(--font-weight-500);
                text-transform: uppercase;

                @media screen and (max-width: $mobileWidth) {
                    font-size: var(--type-large);
                }
            }
        }

        .tito-form-actions {
            .tito-submit {
                border: 0;
                background-color: var(--white);
                padding: 1rem 3rem;
                border-radius: 8px;
                color: var(--black);
                cursor: pointer;
                text-decoration: none;
                transition: box-shadow 0.15s ease;
                transition: all 0.15s ease;
                background: var(--red);
                color: var(--white);
                text-transform: uppercase;

                &:hover {
                    box-shadow: 0px 4px 7px 0 rgba(0, 0, 0, 0.3);
                    transform: translateY(-1px);
                }
            }
        }
    }
}