<header id="header-2024">
  <nav id="desktopHeader" class="nav {{ include.background_color }}">
    <div class="nav-container">
      <a href="/world/2025" class="nav__logo">
        <img class="temp" alt="Rails World Logo 2025"
          src="/assets/world/2025/logos/RW25_logo-white-trademark.png" />
      </a>
    </div>

    <div class="center">
      <a href="/world/2025/speakers" class="nav-link">Speakers</a>
      <a href="/world/2025/programme.html" class="nav-link">Programme</a>
      <a href="/world/2025/faq/general" class="nav-link">FAQs</a>
      <a href="/world/2025/rails_at_scale" class="nav-link">Rails at Scale Summit</a>
    </div>
  </nav>

  <nav id="mobileHeader" class="nav">
    <div class="center">
      <a href="/world/2024" class="nav__logo">
        <img class="longLogo" alt="Rails World Logo 2024" src="/assets/world/2024/images/rails_logos/white-logo-long-dated.svg" />
      </a>
    </div>

    <div class="nav-container right">
      <a href="" class="nav-link">Speakers</a>
      <a href="" class="nav-link">Programme</a>
      <a href="" class="nav-link">FAQs</a>
      <a href="" class="nav-link">Rails at Scale Summit</a>
    </div>
  </nav>
</header>
