{% assign speaker_url = include.speaker.path | split: '/' | last | remove_first: '.md' %}
{% assign session = include.session %}
{% assign clean_path = session.path | replace: '_world_sessions/2025', '' | replace: '.md', '' %}

<div class="session-card {% if session.show_page == false %}no-pointer{% endif %}"
      title="{{ session.title }}"
      aria-label="{% if session.has_content %}Go to {{ session.title }} session page{% else %}{{ session.title }}{% endif %}"
      {% unless session.show_page == false %}
        onclick="openWindow('/world/2025{{ clean_path }}')"
        onkeydown="handleEnterOrSpaceWindowOpen(event, '/world/2025{{ clean_path }}')"
        role="button"
        tabindex="0"
      {% endunless %} >

  <p class="time">{{session.time}}</p>

  <div class="content">
    <h3>{{ session.title }}</h3>
    {% if session.multiple_speakers %}
      <p>{{session.multiple_speakers}}</p>
    {% elsif include.speaker %}
      <p>{{ include.speaker.first_name }} {{ include.speaker.last_name }} {% if include.speaker.tagline %} - {{ include.speaker.tagline }} {% endif %} {% if include.speaker.company %}, {{ include.speaker.company }} {% endif %}</p>
    {% endif %}
    </div>
</div>

<script>
  openWindow = (url) =>{
    window.open(url);
  }

  handleEnterOrSpaceWindowOpen = (e, url) => {
    if (e.key === " " || e.key === "Enter" || e.key === "Spacebar") {
      openWindow(url);
    }
  }
</script>
