<!doctype html>
<html lang="en">
{% include head.html %}

<body>
{% include notification.html %}
{% include nav.html %}

<div class="layout">
  <div class="post common-padding--bottom common-padding--top-small">
    <div class="container">
      <div class="post__headline common-headline">
        <h5>{{ page.date | date: '%A, %B %-d, %Y' }}</h5>
        <h1>{{ page.title | strip_html }}</h1>
{% if page.authors %}
        <h6>Posted by {{ page.authors | join: " and " }}</h6>
{% elsif page.author %}
        <h6>Posted by {{ page.author }}</h6>
{% endif %}
      </div>
{% if page.youtube %}
      <div class="embed-container">
        <iframe
          src="https://www.youtube.com/embed/{{ page.youtube }}"
          title="{{ page.title | strip_html }}"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          loading="lazy"
          allowfullscreen>
        </iframe>
      </div>
{% endif %}
      <div class="post__content common-content common-content--post">
        {{ content }}
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
</body>
</html>
