<section class="nl-banner nl-banner--code-of-conduct{% if include.modifier_class %} {{ include.modifier_class }}{% endif %}" aria-labelledby="code-of-conduct-title">
  <div class="nl-banner__inner">
    <div class="nl-banner__card">
      <div class="nl-banner__text">
        <h2 class="nl-banner__title" id="code-of-conduct-title">Code of Conduct</h2>
        <p class="nl-banner__subtitle">Just like Rails, Rails World follows the Ruby community&rsquo;s Code of Conduct. In this context, &ldquo;collaborative spaces&rdquo; include all venues related to Rails World and Rails at Scale activities.</p>
        <p class="nl-banner__subtitle">If you believe these guidelines have been violated, please contact the Rails Foundation at <a href="mailto:world@rubyonrails.org">world@rubyonrails.org</a>.</p>
      </div>
      <a href="/conduct" class="nl-banner__btn">Read the Code of Conduct</a>
    </div>
  </div>
</section>
