.common-code {

  background: rgba($color-black, 0.9);
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba($color-black, 0.1);
  text-align: left;

  h6 {
    background: linear-gradient(0deg, rgba($color-black, 0.5), rgba($color-black, 0));
    border-bottom: 1px solid rgba($color-black, 0.9);
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    color: $color-grey-3;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: center;
  }

  pre {
    @include plex();
    clear: both;
    color: $color-white;
    font-size: 13px;
    line-height: 23px;
    max-width: 100%;
    overflow-x: auto;
    padding: 22px 30px;
    white-space: pre;
  }

}
