.common-headline {
  color: $color-black;
  font-size: 14px;
  line-height: 20px;

  h1 {
    color: $color-green;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 36px;
  }

  h2 {
    color: $color-green;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 32px;
    @media (max-width: 800px) {
      font-size: 26px;
    }
    @media (max-width: 600px) {
      font-size: 22px;
    }
  }

  h3 {
    color: $color-green;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 28px;
  }

  h4 {
    color: $color-black;
    font-size: 20px;
    letter-spacing: -0.006em;
    line-height: 24px;

    a {
      font-weight: 700;
    }
  }

  h5 {
    color: $color-black;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.006em;
    line-height: 20px;
  }

  h6 {
    color: $color-grey-4;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.006em;
    line-height: 18px;
  }

  a {
    color: $color-black;
    text-decoration: underline;
    text-decoration-thickness: 2px;

    &:hover {
      color: $color-green;
    }
  }

  b,
  strong {
    color: $color-black;
    font-weight: 700;
  }

  i,
  em {
    color: $color-black;
    font-style: italic;
    font-weight: 600;
  }

  @media (min-width: 1024px) {
    font-size: 14px;
    line-height: 20px;

    h1 {
      font-size: 56px;
      line-height: 60px;
    }

    h2 {
      font-size: 40px;
      line-height: 44px;
    }

    h3 {
      font-size: 32px;
      line-height: 36px;
    }

    h4 {
      font-size: 20px;
      letter-spacing: -0.01em;
      line-height: 24px;
    }
  }
}
