{% assign pageDay = include.day %}

{% if pageDay == 0 %}
{% assign dayZeroActive = 'active' %}
{% else %}
{% assign dayZeroActive = 'inactive' %}
{% endif %}

{% if pageDay == 1 %}
{% assign dayOneActive = 'active' %}
{% else %}
{% assign dayOneActive = 'inactive' %}
{% endif %}

{% if pageDay == 2 %}
{% assign dayTwoActive = 'active' %}
{% else %}
{% assign dayTwoActive = 'inactive' %}
{% endif %}

{% assign sessions = include.sessions %}

<div class="dayContainer">
  <div class="titleContainer">
    <h2>Agenda</h2>
    <p>Rails World was two full days of keynotes, technical sessions, workshops, food, and fun. All sessions were recorded and will be published soon.</p>
  </div>
  <div class="mainContainer">
    <div class="dayTabs">
      <div class="tabContainer zero {{ dayZeroActive }}" role="button" tabindex="0" title="Day One"
        aria-label="View day one's agenda" onclick="openWindow('/world/2024/agenda/day-0')"
        onkeydown="handleEnterOrSpaceWindowOpen(event, '/world/2024/agenda/day-0')">
        <p class="dayText">Wednesday</p>
        <p class="dateText">Sept 25</p>
      </div>
      <div class="tabContainer one {{ dayOneActive }}" role="button" tabindex="0" title="Day One"
        aria-label="View day two's agenda" onclick="openWindow('/world/2024/agenda/day-1')"
        onkeydown="handleEnterOrSpaceWindowOpen(event, '/world/2024/agenda/day-1')">
        <p class="dayText">Thursday</p>
        <p class="dateText">Sept 26</p>
      </div>
      <div class="tabContainer two {{ dayTwoActive }}" role="button" tabindex="0" title="Day Two"
        aria-label="View day three's agenda" onclick="openWindow('/world/2024/agenda/day-2')"
        onkeydown="handleEnterOrSpaceWindowOpen(event, '/world/2024/agenda/day-2')">
        <p class="dayText">Friday</p>
        <p class="dateText">Sept 27</p>
      </div>
    </div>
    <div class="agendaContainer">
      {% for session in include.sessions %}
      {% assign session_path = session.path | replace: '_world_sessions/2024', '' | replace: '.md', '' %}
      <div class="sessionRow" role="button" tabindex="0" title="{{ session.title }}"
        aria-label="Go to {{ session.title }} session page" onclick="openWindow('/world/2024{{ session_path }}')"
        onkeydown="handleEnterOrSpaceWindowOpen(event, '/world/2024/{{ session_path }}')">
        <div class="left">
          <p class="timeText">{{ session.time }}</p>
          <div class="separator"></div>
        </div>
        <div class="right">
          {% assign speakerIds =
          session.speaker | split: '/' | last | append: "," |
          append: session.second_speaker | split: '/' | last | append: "," |
          append: session.third_speaker | split: '/' | last | split: "," %}

          {% assign speakers = "" %}
          {% for id in speakerIds %}
          {% assign speakerObjs = site.world_speakers | where_exp: "speaker", "speaker.path contains id" | where_exp:
          'item', 'item.path contains "2024"' %}
          {% assign speaker = speakerObjs | first %}
          {% if speaker %}
          {% assign speakers = speakers | append: speaker.first_name | append: " " | append: speaker.last_name | append:
          "," | append: speaker.role | append: "," | append: speaker.company | append: "|" %}
          {% endif %}
          {% endfor %}

          {% assign speakerArray = speakers | split: "|" %}
          {% assign totalSpeakers = speakerArray | size %}
          {% assign speakerList = "" %}

          <p class="title">{{ session.title }}</p>
          {% if totalSpeakers > 0 %}
            <div class="speakersContainer">
              <p class="speakerNames">
                {% assign speakerList = "" %}
                {% assign firstSpeaker = true %}
                {% assign lastIndex = totalSpeakers | minus: 1 %}

                {% for speaker in speakerArray %}
                  {% if speaker != "" %}
                    {% assign speakerDetails = speaker | split: "," %}
                
                    {% unless firstSpeaker %}
                      {% assign speakerList = speakerList | append: " - " %}
                    {% endunless %}
                    
                 
                
                    {% assign firstSpeaker = false %}

                    {% assign speakerList = speakerList | append: "<span class='name'>" | append: speakerDetails[0] | append: "</span>" | append: "," %}
                
                    {% if speakerDetails[1] != "" %}
                      {% assign speakerList = speakerList | append: " " | append: speakerDetails[1] %}
                    {% endif %}

                    {% if speakerDetails[2] == "" or speakerDetails[2] == "false" %}
                      {% assign speakerList = speakerList | append: "" %}
                    {% else %}
                      {% assign speakerList = speakerList | append: ", " %}
                    {% endif %}

                    {% if speakerDetails[2] != "" and speakerDetails[2] != "false" %}
                      {% assign speakerList = speakerList %}
                      
                      {% assign speakerList = speakerList | append: speakerDetails[2] %}
                    {% endif %}
                  {% endif %}
                {% endfor %}

                {{ speakerList | raw }}
              </p>
            </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  function openWindow(url, openTab = false) {
    const openType = openTab ? '_blank' : '_self';

    if (openTab) {
      window.open(url, openType);
    } else {
      window.location.href = url;
    }
  }

  function handleEnterOrSpaceWindowOpen(e, url) {
    if (e.key === " " || e.key === "Enter" || e.key === "Spacebar") {
      openWindow(url);
    }
  }
</script>
