{% if page.title %}
{% assign title = site.world24_title | append: ' &mdash; ' | append: page.title %}
{% else %}
{% assign title = site.world24_title %}
{% endif %}

{% if page.description %}
{% assign description = page.description %}
{% else %}
{% assign description = site.description %}
{% endif %}

{% if page.og_image %}
{% assign image = page.og_image | absolute_url %}
{% else %}
{% assign image = '/assets/world/rails-world-2024.png' | absolute_url %}
{% endif %}

{% assign url = page.url | absolute_url %}

<head>
  <title>{{ title }}</title>
  <meta charset="utf-8" />
  <meta content="ie=edge" http-equiv="x-ua-compatible" />
  <meta name="handheldfriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}" />

  <meta property="og:site_name" content="{{ site.world24_title }}" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:image" content="{{ image }}" />
  <meta property="og:url" content="{{ url }}" />
  <meta property="og:type" content="{% if page.collection == 'posts' %}article{% else %}website{% endif %}" />

  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="{{ image }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@{{ site.twitter }}" />
  <meta name="twitter:image:alt" content="{{ site.world24_title }}" />

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ url }}"
      },
      "name": "{{ site.world24_title }}",
      "headline": "{{ title }}",
      "description": "{{ description }}",
      "url": "{{ url }}",
      "image": "{{ image }}"
    }
  </script>
  <script defer data-domain="rubyonrails.org" src="https://plausible.io/js/script.js"></script>

  <script src="/assets/world/2023/scripts/back_to_top.js" defer></script>
  <script src="/assets/world/2023/scripts/carousel.js" defer></script>
  <script src="/assets/world/2023/scripts/modal_component.js" defer></script>

  <script type="module">
    import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
  </script>

  <script type="text/javascript">
    document.addEventListener("turbo:click", (event) => {
      if (event.srcElement.closest("modal-component")) {
        event.preventDefault()
        Turbo.visit(event.detail.url)
      }
    })
  </script>

  <link rel="icon" href="/assets/images/favicon.ico" />
  <link rel="apple-touch-icon" type="image/png" href="/assets/images/apple-touch-icon.png" />
  <link rel="stylesheet" href="https://use.typekit.net/lar2lzk.css">
  <link rel="stylesheet" href="/assets/css/world-2024.css" />
  <link rel="canonical" href="{{ url }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <script src='https://js.tito.io/v2/with/inline' async></script>
</head>
