<header id="header-2024">
  <nav id="desktopHeader" class="nav">
    <div class="sideContainer">
      <a href="/world/2024" class="nav__logo">
        <img class="temp" alt="Rails World Logo 2024"
          src="/assets/world/2024/images/rails_logos/rails-world-red-mono-logo-square-dated.svg" />
      </a>
    </div>

    <div class="center">
      <a href="/world/2024/faq" class="link">FAQ</a>
      <a href="/world/2024/speakers" class="link">Speakers</a>
      <a href="/world/2024/agenda" class="link">Agenda</a>
    </div>

    <div class="sideContainer right">
      <p class="headerDateText">September 26 & 27</h5>
      <p class="headerDateText">Toronto, Canada</h6>
    </div>
  </nav>

  <nav id="mobileHeader" class="nav">
    <div class="sideContainer">

    </div>

    <div class="center">
      <a href="/world/2024" class="nav__logo">
        <img class="longLogo" alt="Rails World Logo 2024" src="/assets/world/2024/images/rails_logos/white-logo-long-dated.svg" />
      </a>
    </div>

    <div class="sideContainer right">
      <a href="/world/2024/faq" class="link">FAQ</a>
      <a href="/world/2024/speakers" class="link">Speakers</a>
      <a href="/world/2024/agenda" class="link">Agenda</a>
    </div>
  </nav>
</header>