<div class="slideshowContainer" aria-label="Image slideshow" role="region">
    <div class="slide">
        <img loading="lazy" src="/assets/world/2024/images/locationSlideshow1.jpg"
            alt="Evergreen Brick Works - picture of inside building" class="slideImage">
    </div>
    <div class="slide">
        <img loading="lazy" src="/assets/world/2024/images/locationSlideshow2.jpg"
            alt="Evergreen Brick Works - picture of inside building hallway" class="slideImage">
    </div>
    <div class="slide">
        <img loading="lazy" src="/assets/world/2024/images/locationSlideshow3.jpg"
            alt="Evergreen Brick Works - different angle of inside building" class="slideImage">
    </div>

    <div aria-label="carousel buttons" class="dotsContainer">
        <!-- We generate the dots here -->
    </div>

    <div aria-label="carousel buttons" class="buttonsContainer">
        <button aria-label="previous" class="button slideShow left" onclick="backwardSlide()">
            <img class="arrowSvg" src="/assets/world/2024/images/arrow.svg" alt="arrow">
        </button>
        <button aria-label="next" class="button slideShow" onclick="forwardSlide()">
            <img class="arrowSvg" src="/assets/world/2024/images/arrow.svg" alt="arrow">
        </button>
    </div>
</div>

<!-- Slideshow script -->
<script>
    let currentSlideIndex = 1;
    const slides = document.getElementsByClassName("slide");

    function generateDots(slidesLength) {
        const dotsContainer = document.querySelector(".dotsContainer");

        for (let i = 0; i < slidesLength; i++) {
            const dot = document.createElement("button");
            dot.classList.add("button")
            dot.classList.add("dot")
            dot.ariaLabel = `Slide ${i + 1}`

            dot.onclick = () => {
                currentSlideIndex = i + 1;
                showSlides(currentSlideIndex);
            }

            dotsContainer.append(dot)
        }
    }

    function showSlides(index) {
        const dots = document.getElementsByClassName("dot");

        if (index > slides.length) {
            currentSlideIndex = 1;
        } else if (index <= 0) {
            currentSlideIndex = slides.length;
        }

        for (let i = 0; i < slides.length; i++) {
            slides[i].ariaHidden = true;
            slides[i].style.display = "none";
        }

        for (let i = 0; i < dots.length; i++) {
            if (dots[i].classList.contains("active")) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
        }

        slides[currentSlideIndex - 1].style.display = "flex";
        slides[currentSlideIndex - 1].ariaHidden = false;
        dots[currentSlideIndex - 1].classList.add("active")
    }

    function forwardSlide() {
        currentSlideIndex += 1;
        showSlides(currentSlideIndex);
    }

    function backwardSlide() {
        currentSlideIndex -= 1;
        showSlides(currentSlideIndex);
    }

    generateDots(slides.length);
    showSlides(currentSlideIndex);
</script>