    
{% assign speakerUrl = include.path | split: '/' | last | remove_first: '.md' %}

<div 
    class="speakerCard" 
    role="button" 
    tabindex="0" 
    title="{{ include.first_name }} {{ include.last_name }}"
    aria-label="Go to {{ include.first_name }} {{ include.last_name }}'s speaker page"
    onclick="openWindow(
        '/world/2024/speakers/{{ speakerUrl }}'
        )
    "
    onkeydown="
        handleEnterOrSpaceWindowOpen(
            event, 
            '/world/2024/speakers/{{ speakerUrl }}'
        )
    "
>
    <div class="cardBackground">
        <div class="line"></div>
    </div>

    <div class="contentContainer">
        <div class="photoContainer">
            <div class="speakerPhoto">
                <img src="{{ include.photo }}" alt="{{ include.first_name }} {{ include.last_name }}'s photo" loading="lazy">
            </div>
        </div>

        <div class="nameContainer">
            <h4 class="name">
                {{ include.first_name }} {{ include.last_name }}
            </h4>
            <p class="roleAndCompany">
                {{ include.role }}{% if include.company and include.company != "false" %}, {{ include.company }}{% endif %}
            </p>
        </div>
    </div>
</div>
<script>
    function openWindow(url, openTab = false) {
        const openType = openTab ? '_blank' : '_self';

        window.open(url, openType);
    }

    function handleEnterOrSpaceWindowOpen(e, url) {
        if (e.key === " " || e.key === "Enter" || e.key === "Spacebar") {
            openWindow(url);
        }
    }
</script>