{% assign sessionUrl = include.session.path | split: '/' | last | remove_first: '.md' %}
{% assign session = include.session %}

{% if session.time != blank and session.session_date != blank and session.location != blank %}
{% assign hasInfo = true %}
{% else %}
{% assign hasInfo = false %}
{% endif %}

{% if hasInfo %}
{% assign className = "sessionCard" %}
{% else %}
{% assign className = "sessionCard noInfo" %}
{% endif %}

{% assign url_segments = include.session.url | split: '/' %}
{% assign day_segment = "" %}

{% for segment in url_segments %}
{% if segment contains "day-" %}
{% assign day_segment = segment %}
{% endif %}
{% endfor %}

{% assign clean_path = session.path | replace: '_world_sessions/2024', '' | replace: '.md', '' %}
<div class="{{ className }}" href="" role="button" tabindex="0" title="{{ session.title }}"
    aria-label="Go to {{ session.title }} session page" onclick="openWindow(
                                '/world/2024{{ clean_path }}'
                                )
                            " onkeydown="
                                handleEnterOrSpaceWindowOpen(
                                    event, 
                                    '/world/2024/{{ clean_path }}'
                                )
                            ">
    <p class="sessionName">{{ session.title }}</p>
    {% if session.time %}
    <div class="sessionTimeContainer">
        {% include world/2024/icons/clock.html %}

        <p>{{ session.time }}</p>
    </div>
    {% endif %}
    {% if day_segment != "" %}
    <div class="sessionDateContainer">
        {% include world/2024/icons/calendar.html %}

        {% if day_segment == "day-0" %}
        <p>September 25th</p>
        {% elsif day_segment == "day-1" %}
        <p>September 26th</p>
        {% elsif day_segment == "day-2" %}
        <p>September 27th</p>
        {% endif %}
    </div>
    {% endif %}
    {% if session.location %}
    <div class="sessionLocationContainer">
        {% include world/2024/icons/location.html %}

        <p>{{ session.location }}</p>
    </div>
    {% endif %}
</div>