
<div 
    role="button" 
    tabindex="0" 
    id="{{ include.name }}Card"
    aria-label="Go to {{ include.name }}'s website" 
    class="sponsorCard {{ include.rank }}"
    title="{{ include.name }}"
    onclick="window.open('{{ include.url }}', '_blank')"
>
    {% if include.rank == "platinum" %}
        <div class="background">
            <div class="line"></div>
        </div>
    {% endif %}

    <div class="logoContainer">
        <img src="{{ include.logo }}" alt="{{ include.name }}" loading="lazy">
    </div>
</div>
<script>
    document.getElementById('{{ include.name }}Card')
        .addEventListener('keydown', (e) => {
            onkeydown(e, '{{ include.url }}');
        });

    function onkeydown(e, url) {
       if (e.key === " " || e.key === "Enter" || e.key === "Spacebar") {
            window.open(url, '_blank')
        }
    }
</script>