---
layout: world/2024/default
---

{% assign filteredSpeakers = site.world_speakers | where_exp: "speaker", "speaker.path contains page.speaker" | where_exp: 'item', 'item.path contains "2024"' %}
{% assign speaker = filteredSpeakers | first %}
{% assign speakerUrl = speaker.path | split: '/' | last | remove_first: '.md' %}

{% assign allSessions = site.world_sessions | where_exp: 'session', 'session.path contains "2024"' %}
{% assign matchingSessions = allSessions | where: "multiple_speakers", true %}
{% assign duplicateSessions = matchingSessions | where: "title", page.title | where: "description", page.description | where_exp: "session", "session.url != page.url" %}

<div class="sessionPage">
  <div class="sessionContainer">
    <div class="breadCrumbsContainer">
      <a href="/world/2024" class="link">
        World
      </a>
      <p>></p>
      <a href="/world/2024/speakers" class="link">
        Speakers
      </a>
      <p>></p>
      <a href="/world/2024/speakers/{{ speakerUrl }}" class="link">
        {{ speaker.first_name }} {{ speaker.last_name }}
      </a>
      <p>></p>
      <p>{{ page.title }}</p>
    </div>
    <div class="topContainer">
      <h2 class="sessionTitle">
        {{ page.title }}
      </h2>
      <p class="description">
        {{ content }}
      </p>
      <div class="informationContainer">
        {% if page.sponsor %}
          <div class="sessionTimeContainer">
            {% include world/2024/icons/clock.html %}

            <p>{{ page.time }}</p>
          </div>
        {% else %}
          <div class="placeHolderContainer"></div>
        {% endif %}
        {% if page.session_date %}
          <div class="sessionDateContainer">
            {% include world/2024/icons/calendar.html %}

            <p>{{ page.session_date }}</p>
          </div>
        {% else %}
          <div class="placeHolderContainer"></div>
        {% endif %}
        {% if page.location %}
          <div class="sessionLocationContainer">
            {% include world/2024/icons/location.html %}

            <p>{{ page.location }}</p>
          </div>
        {% else %}
          <div class="placeHolderContainer"></div>
        {% endif %}
      </div>
    </div>

    <div class="bottomContainer common-shape--top-white-down-left">
      {% include world/2024/session-speaker-card.html speaker=speaker %}

      {% for session in duplicateSessions %}
        {% assign speakerId = session.speaker | split: '/' | last %}
        {% assign speakerObjs = site.world_speakers | where_exp: "speaker", "speaker.path contains speakerId" |  where_exp: 'item', 'item.path contains "2024"' %}
        {% assign newSpeaker = speakerObjs | first %}

        {% include world/2024/session-speaker-card.html speaker=newSpeaker %}
      {% endfor %}
    </div>
  </div>
</div>
