@mixin calibre() {
  font-family: 'Calibre', Sans-Serif;
  font-style: normal;
  font-weight: 400;
}

@mixin plex() {
  font-family: 'IBM Plex Mono', Monospace;
  font-style: normal;
  font-weight: 400;
}
