@mixin plex() {
  font-family: 'IBM Plex Mono', Monospace;
  font-style: normal;
  font-weight: 400;
}

@mixin inter() {
  font-family: 'Inter', Sans-Serif;
  font-style: normal;
  font-weight: 400;
}
