<!DOCTYPE html>

<html lang="en" style="scroll-behavior: smooth">
  {% include world/head.html %}
  <body>
    <a href="#main-content" class="button button--light skip-navigation" tabindex="0">
      Skip to main content
    </a>

    {% include world/announcements.html %}
    {% include world/header.html %}
    <main id="main-content" tabindex="-1">
      {{ content }}
    </main>

    <back-to-top>
      <button>
        {% include world/icons/back-to-top.html %}
        <span>Back to Top</span>
      </button>
    </back-to-top>

    {% include world/footer.html %}
  </body>
</html>
