---
layout: world/default
---

{% assign filteredSpeakers = site.world_speakers | where_exp:"speaker", "speaker.path contains page.speaker" %}
{% assign speaker = filteredSpeakers | first %}
{% assign day_url = page.url | split: '/' | pop | join: '/' %}
{% assign day = day_url | slice: -1 | prepend: 'Day ' %}

<content-container class="session">
  <breadcrumbs-container>
    <ul>
      <li><a href="/world">World</a></li><span>&gt;</span>
      <li><a href="/world/agenda">Agenda</a></li><span>&gt;</span>
      <li><a href="{{ day_url }}">{{ day }}</a></li><span>&gt;</span>
      <li><span>Session: {{ speaker.first_name }} {{ speaker.last_name }}</span></li>
    </ul>
  </breadcrumbs-container>

  <content-card>
    <bordered-container>
        <article>
          <section class="session__info">
            <h1>{{ page.title }}</h1>
            <br>

            {{ content }}

            <br>
            <ul>
              <li>{% include world/icons/clock.html %} {{ page.time }}</li>
              <li>{% include world/icons/pin-purple.html %} {{ page.location }}</li>
            </ul>
          </section>


          <section class="session__speaker">
            <div>
              <h2>Session Speaker</h2>
              <br>
              <a href="{{ speaker.url }}">
                <h3>{{ speaker.first_name }} {{ speaker.last_name }}</h3>
              </a>
              <p class="session__speaker__role">
                {{ speaker.role }} of {{ speaker.company }}
              </p>
              <br>

              {{ speaker.content }}

              <br>
              <ul>
                {% if speaker.github %}
                  <li>
                    <a href="{{ speaker.github }}">
                      {% include world/icons/github.html %}
                    </a>
                  </li>
                  {% endif %}
                  {% if speaker.linkedin %}
                  <li>
                    <a href="{{ speaker.linkedin }}">
                      {% include world/icons/linkedin.html %}
                    </a>
                  </li>
                  {% endif %}
                  {% if speaker.twitter %}
                  <li>
                    <a href="{{ speaker.twitter }}">
                      {% include world/icons/twitter.html %}
                    </a>
                  </li>
                  {% endif %}
              </ul>
            </div>

            <figure>
              <img
                src="{{ speaker.image_path }}"
                alt="{{ speaker.first_name }}'s Profile Picture">
            </figure>
        </section>
      </article>
    </bordered-container>
  </content-card>
</content-container>
