---
layout: world/default
---

<article>
  <section>
    <img src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="Profile Picture">
    <div>
      <h1>{{ page.name }}</h1>
      <h2>{{ page.role }}</h2>
      <p>{{ page.bio }}</p>
      <ul>
        <li>{% include world/icons/github.html %}</li>
        <li>{% include world/icons/linkedin.html %}</li>
        <li>{% include world/icons/twitter.html %}</li>
      </ul>
    </div>
  </section>

  <section>
    <h1>Sessions</h1>
    <ul>
      <li>
        <h2>Session 1</h2>
        <p>This session is... Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque veniam repellendus itaque fugiat pariatur culpa molestiae velit temporibus officia eius quasi, sed quidem, necessitatibus, tenetur esse similique ratione nostrum rem!</p>
      </li>
      <li>
        <h2>Session 2</h2>
        <p>This session is... Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque veniam repellendus itaque fugiat pariatur culpa molestiae velit temporibus officia eius quasi, sed quidem, necessitatibus, tenetur esse similique ratione nostrum rem!</p>
      </li>
    </ul>
  </section>
</article>
