---
layout: world/default
---
{% assign filteredSessions = site.world_sessions | where_exp:"session", "page.path contains session.speaker" %}

<content-container class="speaker">
    <breadcrumbs-container data-turbo="false" aria-label="Breadcrumbs">
      <ol>
        <li>
          <a href="/world">World</a>
          <span aria-hidden="true">&nbsp;&gt;</span>
        </li>
        <li>
          <a href="/world/speakers">Speakers</a>
          <span aria-hidden="true">&nbsp;&gt;</span>
        </li>
        <li aria-current="page">
          <span>{{ page.first_name }} {{ page.last_name }}</span>
        </li>
      </ol>
    </breadcrumbs-container>

  <turbo-frame id="speaker_details">
    <content-card>
      <bordered-container>
          <article>
            <section class="speaker__info">
                <figure><img src="{{ page.image_path }}" alt="{{ page.first_name }}'s Profile Picture"></figure>
                <div>
                  <h1 id="speaker_name">{{ page.first_name}} {{ page.last_name }}</h1>
                  <p class="speaker__role">{{ page.role }}, {{ page.company }}</p>
                  {{ content }}
                  <ul>
                    <li>
                      {% if page.github %}
                        <a href="{{ page.github }}">
                          {% include world/icons/github.html %}
                        </a>
                      {% endif %}
                    </li>
                    <li>
                      {% if page.linkedin %}
                        <a href="{{ page.linkedin }}">
                          {% include world/icons/linkedin.html %}
                        </a>
                      {% endif %}
                    </li>
                    <li>
                      {% if page.twitter %}
                        <a href="{{ page.twitter }}">
                          {% include world/icons/twitter.html %}
                        </a>
                      {% endif %}
                    </li>
                  </ul>
                </div>
            </section>


            <section class="speaker__sessions hidden">
              <h2>Sessions</h2>
              <ul>
              {% for session in filteredSessions %}
                <li>
                  <a href="{{ session.url }}">
                    <h3>{{ session.title }}</h3>
                  </a>
                  <p>{{ session.content }}</p>
                </li>
              {% endfor %}
              </ul>
            </section>
          </article>
      </bordered-container>

      <button class="close hidden" aria-label="Close speaker dialog">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M2 2L22 22"></path>
          <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M22 2L2 22"></path>
        </svg>
      </button>
    </content-card>
  </turbo-frame>
</content-container>
