---
title: "Rails at Scale"
description: "Rails at Scale 2026 — A gathering for engineers solving big challenges with Ruby on Rails."
og_image: /assets/world/2026/og-ras26.png
layout: world/2026/default
permalink: /world/2026/rails-at-scale
---

<div class="page-wrapper-2026">
  <div id="section-desktop">
    {% include world/2026/components/nav.html %}
    {% include world/2026/homepage_sections/ras_hero.html %}
    {% include world/2026/homepage_sections/ras_sponsor.html %}
    {% include world/2026/homepage_sections/ras_location_lockup.html %}
    {% include world/2026/homepage_sections/ras_faq.html %}
    {% include world/2026/components/footer.html %}
  </div>
</div>
